<fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->

	<p>
	  <%= f.label :name, "Lead Provider Name" %>
		<%= f.text_field :name, :class => "text-input medium-input" %>
	</p>
	
	<p>
	  <%= f.label :username, "API Username" %>
		<%= f.text_field :username, :class => "text-input small-input" %>
	</p>
	
	<p>
	  <%= f.label :password, "API Password" %>
		<%= f.text_field :password, :class => "text-input small-input" %>
	</p>
	
	<p>
	  <%= f.label :status, "Current Status" %>
	  <%= f.select :status, LeadProvider::STATUS_HASH.map{|k,v| [v, k]}, {}, { :class => "medium-input" } %>
	</p>
	
	<p>
	  <%= f.label :lead_filter_id, "Lead Submission Filter" %>
	  <%= f.select :lead_filter_id, LeadFilter.all.map{|lf|[lf.name, lf.id]}, {}, { :class => "medium-input" } %>
	</p>
	
	<p>
	  <%= f.label :primary_contact, "Primary Contact" %>
		<%= f.text_field :primary_contact, :class => "text-input medium-input" %>
	</p>
	
	<p>
	  <%= f.label :primary_contact_email, "Primary Contact Email" %>
		<%= f.text_field :primary_contact_email, :class => "text-input medium-input" %>
	</p>
	
	<p>
	  <%= f.label :primary_contact_phone, "Primary Contact Phone" %>
		<%= f.text_field :primary_contact_phone, :class => "text-input small-input" %>
	</p>

	<p>
		<input class="button" type="submit" value="Save" />
		or <%= link_to "Cancel", lead_filters_path %>
	</p>

</fieldset>

<div class="clear"></div><!-- End .clear -->