<script type="text/javascript">
  $(document).ready(function() {
    $('#fle').click(function(){
      if ($('#fle').is(':checked')) {
        $('#loan_fle').show();
        $('#new_loan_fle').show();
        $('#reloan_fle').show();
        $('#loans_chart').hide();
        $('#new_loans_chart').hide();
        $('#reloans_chart').hide();
      } else {
        $('#loan_fle').hide();
        $('#new_loan_fle').hide();
        $('#reloan_fle').hide();
        $('#loans_chart').show();
        $('#new_loans_chart').show();
        $('#reloans_chart').show();
      }
        
    });

  });
</script>
<div id="admin_dashboard">
  <div id="admin_chart" style="float: left;width: 400px;border-right: 1px solid rgb(202, 202, 202);">
    <div style="margin-left: 0px;margin-right: 0px;margin-bottom: 30px;margin-top: 15px;">
      <div style="border: 1px solid #cdcdcd;float:left;margin-bottom: 30px;">
        <div style="width:200px;float:left;">
          <img src="<%= @to_chart_url %>"/></div>
        <div id="loans_chart" style="width: 140px;background-color: #f0f0f0;font-size: 24px;float: right;height:150px;text-align: center;">
          <div style="padding-top: 60px;">
            <%= @loan_sum %>
          </div>
        </div>
        <div id="loan_fle" style="width: 140px;background-color: #f0f0f0;font-size: 24px;float: right;height:150px;text-align: center;display: none;">
          <div style="padding-top: 60px;">
            $ <%=@total_amount %>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-left: 0px;margin-right: 0px;margin-bottom: 30px;margin-top: 15px;">
      <div style="border: 1px solid #cdcdcd;float:left;margin-bottom: 30px;">
        <div style="width:200px;float:left">
          <img src="<%= @to_chart_url1 %>"/>
        </div>
        <div id="new_loans_chart" style="width: 140px;background-color: #f0f0f0;font-size: 24px;float: right;height:150px;text-align: center;">
          <div style="padding-top: 60px;">
            <%= @new_loan_sum %>
          </div>
        </div>
        <div id="new_loan_fle" style="width: 140px;background-color: #f0f0f0;font-size: 24px;float: right;height:150px;text-align: center;display: none;">
          <div style="padding-top: 60px;">
            $ <%=  @new_loan_fle %>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-left: 0px;margin-right: 0px;margin-bottom: 30px;margin-top: 15px;">
      <div style="border: 1px solid #cdcdcd;float:left;margin-bottom: 30px;">
        <div style="width:200px;float:left">
          <img src="<%= @to_chart_url2 %>"/>
        </div>
        <div id="reloans_chart" style="width: 140px;background-color: #f0f0f0;font-size: 24px;float: left;height:150px;text-align: center;">
          <div style="padding-top: 60px;">
            <%= @reloan_sum %>
          </div>
        </div>
        <div id="reloan_fle" style="width: 140px;background-color: #f0f0f0;font-size: 24px;float: left;height:150px;text-align: center;display: none;">
          <div style="padding-top: 60px;">
            $ <%=@reloan_fle %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="admin_list" style="float: left;width: 400px;">
    <div style="margin-left: 30px;margin-right: 30px;margin-bottom: 30px;margin-top: 15px;">
      <div id="underwriting_star" style="width: 370px;background-color: #f0f0f0;height: 150px;border: 1px solid #cdcdcd;">
        <div style="padding: 10px;font-size: 20px;">
          <strong>Underwriting</strong>

        </div>
        <% i = 1 %>

        <% for underwriter_record in (0..2) %>
          <% if @topusers && @topusers[:underwriter_record_desc][underwriter_record] %>
          <div style="margin-left: 10px;">
            <div style="width:250px;float: left;font-weight: bold;margin-left: 10px;height:20px;">
              <%= i.to_s + ".  "  %> <%=  @topusers[:underwriter_record_desc][underwriter_record][:underwriter_full_name] %>
            </div>
            <div style="float: left;font-weight: bold;"><%=  @topusers[:underwriter_record_desc][underwriter_record][:loan_count] %>  Loans</div>
          </div>
          <% i+=1 %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div style="margin-left: 30px;margin-right: 30px;margin-bottom: 30px;margin-top: 15px;">
      <div id="collection_star" style="width: 370px;background-color: #f0f0f0;height: 150px;border: 1px solid #cdcdcd;">
        <div style="padding: 10px;font-size: 20px;">
          <strong>Collection</strong>
        </div>
        <% i = 1 %>
        <% for collector_record in (0..2) %>
          <% if @topusers && @topusers[:collector_record_desc][collector_record] %>
          <div style="margin-left: 10px;">
            <div style="width:250px;float: left;font-weight: bold;margin-left: 10px;height:20px;">
              <%= i.to_s + ".  "  %><%=  @topusers[:collector_record_desc][collector_record][:collector_full_name] %>
            </div>
            <div style="float: left;font-weight: bold;"><%=  @topusers[:collector_record_desc][collector_record][:collections_loan_count] %></div>
          </div>
          <% i+=1 %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div style="margin-left: 30px;margin-right: 30px;margin-bottom: 30px;margin-top: 15px;">
      <div id="garnishment_star" style="width: 370px;background-color: #f0f0f0;height: 150px;border: 1px solid #cdcdcd;">
        <div style="padding: 10px;font-size: 20px;">
          <strong>Garnishment</strong>
        </div>
        <% i = 1 %>
        <% for garnisher_record in (0..2) %>
          <% if @topusers && @topusers[:garnisher_record_desc][garnisher_record] %>
          <div style="margin-left: 10px;">
            <div style="width:250px;float: left;font-weight: bold;margin-left: 10px;height:20px;">
              <%= i.to_s + ".  "  %><%=  @topusers[:garnisher_record_desc][garnisher_record][:garnisher_full_name] %>
            </div>
            <div style="float: left;font-weight: bold;">
              <%= @topusers[:garnisher_record_desc][garnisher_record][:garnisher_loan_count] %>
            </div>
          </div>
          <% i+=1 %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>