<table id="worksheet">

  <thead>
    <tr>
      <th class="small"></th>
      <th class="small">Last Contacted</th>
      <th class="small">Return Code</th>
      <th class="small">Days Past Due</th>
      <th class="small">&nbsp;Status</th>
    </tr>

  </thead>

  <tbody>
    <% loans.each do |loan| %>
      <tr>
        <td><%= lastworked(loan)%></td>
        <td><%= loan.created_at.strftime("%m/%d/%Y %I:%M %p") %></td>
        <% if loan.loan_transactions.count > 1 %>
        <% if not loan.loan_transactions.last.ach_return_code.nil? %>
        <td><%= loan.loan_transactions.last.ach_return_code %>-<%= loan.loan_transactions.last.ach_return_reason %></td>
        <% else %>
        <td></td>
        <%end%>
        <% else %>
        <td></td>
        <% end %>
        <% if Date.today.to_date > loan.due_date %>
          <td><%= (Date.today.to_date - loan.due_date) %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
