<% content_for :head do %>
<script type="text/javascript">

  $(document).ready(function() {
      $.facebox.settings.opacity = 0.5;
      $.facebox.settings.width = 600;

      $("#comment_dialog").dialog({
              bgiframe: true,
              autoOpen: false,
              height: 350,
              width: 450,
              modal: true,
              buttons: {
                      'Add Comment': function() {
                              $.post('/loans/add_comment_ajax',$('#comment_form').serialize(),function(returned_data) {
                              });
                              $(this).dialog('close');
                      },
                      Cancel: function() {
                              $(this).dialog('close');
                      }
              },
              close: function() {
              }
      });

      $("#fax_dialog").dialog({
              bgiframe: true,
              autoOpen: false,
              height: 350,
              width: 450,
              modal: true,
              buttons: {
                      'Submit': function() {
                              loan_id = $('#loan_id').attr('value');
                              $.post('/loans/garnishment_fax_dialog/'+loan_id,$('#fax_dialog_form').serialize());
                              $(this).dialog('close');
                              window.location.reload(true);
                      },
                      Cancel: function() {
                              $(this).dialog('close');
                      }
              },
              close: function() {
              }
      });

      $("#garnishment_status_dialog").dialog({
              bgiframe: true,
              autoOpen: false,
              height: 300,
              width: 300,
              modal: true,
              buttons: {
                      'Submit': function() {
                              loan_id = $('#garnishment_status_loan_id').attr('value');
                              $.post('/loans/update_garnishment_status/'+loan_id,$('#garnishment_status_form').serialize());
                              $(this).dialog('close');
                              window.location.reload(true);
                      },
                      Cancel: function() {
                              $(this).dialog('close');
                      }
              },
              close: function() {
              }
      });

      $("#garnishment_telephone_status_dialog").dialog({
              bgiframe: true,
              autoOpen: false,
              height: 150,
              width: 200,
              modal: true,
              buttons: {
                      'Submit': function() {
                              loan_id = $('#garnishment_telephone_status_loan_id').attr('value');
                              $.post('/loans/update_garnishment_telephone_status/'+loan_id,$('#garnishment_telephone_status_form').serialize());
                              $(this).dialog('close');
                              window.location.reload(true);
                      },
                      Cancel: function() {
                              $(this).dialog('close');
                      }
              },
              close: function() {
              }
      });

      $('#loan_garnishment_approved_on').datepicker();

      $("a.comment").click(function() {
        tag_id = $(this).attr('id');
        id = tag_id.split('_')[1];
        $('#comment_commentable_id').attr('value',id);
        $('#comment_dialog').dialog('open');
      });

      $("a.garnishment_telephone_status").click(function() {
        tag_id = $(this).attr('id');
        parts = tag_id.split('_');
        loan_id = parts[3];
        $.get('/loans/garnishment_telephone_status_form/'+loan_id,null,function(returned_data) {
          $('#garnishment_telephone_status_dialog').html(returned_data);
          $('#garnishment_telephone_status_dialog').dialog('open');
        });
      });

      $("a.fax").click(function() {
        tag_id = $(this).attr('id');
        parts = tag_id.split('_');
        loan_id = parts[1];
        customer_id = parts[2];
        $('#customer_id').attr('value',customer_id);
        $('#loan_id').attr('value',loan_id);
        // Clear the fax number before displaying
        $('#customer_employer_fax').attr('value','');
        // Clear the check boxes
        $('#customer_resend_garnishment_fax').attr('checked',false);
        $('#customer_confirm_garnishment_fax_received').attr('checked',false);
        $('#customer_garnishment_packet_sent_by_mail').attr('checked',false);
        $.get('/customers/get_formatted_employer_fax_number/'+customer_id,null,function(fax_number) {
          $('#customer_employer_fax').attr('value',fax_number);
        });

        $.get('/loans/get_garnishment_fax_info/'+loan_id,null,function(fax_info) {
          parts = fax_info.split('|')
          $('#fax_attempts').html(parts[0]);
          $('#fax_status').html(parts[1]);
          if (parts[1] != 'Not Confirmed') {
            $('#customer_garnishment_fax_received').attr('checked',true);
          }
          if (parts[2] == 'true') {
            $('#customer_garnishment_packet_sent_by_mail').attr('checked',true);
          }
        });
        $('#fax_dialog').dialog('open');
      });

      $("a.garnishment_approved").click(function() {
        tag_id = $(this).attr('id');
        parts = tag_id.split('_');
        loan_id = parts[2];

        $.get('/loans/garnishment_status_form/'+loan_id,null,function(returned_data) {
          $('#garnishment_status_dialog').html(returned_data);
          $('#garnishment_status_dialog').dialog('open');
        });
      });

    });

   function set_garnishment_status(loan_id){
     g_status = $("#garnishment_status_"+loan_id).val();
     $.get("loans/set_garnishment_status/"+loan_id,"status="+$("#garnishment_status_"+loan_id).val(),function(status){
     //$("#display_status_"+loan_id).html(status);
     //$("#select_"+loan_id).hide();
     //$("#display_status_"+loan_id).show();
     $("#select_"+loan_id).hide();
     $("#cancel_"+loan_id).hide();
     $("#no_status_"+loan_id).html(status);
     $("#no_status_"+loan_id).attr("title", status);
     $("#no_status_"+loan_id).show();
     });
   };
   function get_status(lid){
     //$("#display_status_"+lid).hide();
     $("#select_"+lid).show();
     $("#no_status_"+lid).hide();
     $("#cancel_"+lid).show();
   };
   function cancel_status(l_id){
     $("#select_"+l_id).hide();
     $("#cancel_"+l_id).hide();
     $("#display_status_"+l_id).show();
     $("#no_status_"+l_id).show();
   };
</script>
<% end %>
<table id="worksheet">

  <thead>
    <tr>
      <th class="small" style="width:300px;">Name</th>
      <th class="small" style="width:200px;"></th>
      <th class="small" style="width:180px;">Packet Confirmed</th>
      <th class="small" style="width:200px;">Approved</th>
    </tr>

  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td style="width:300px;"><%= garnishments_lastworked(loan)%></td>
        <td style="width:200px;">
          <a href="#" class="garnishment_telephone_status" id="garnishment_telephone_status_<%= loan.id -%>" style="margin-right:5px">
            <%= garnishment_telephone_status_icon(loan) -%>
          </a>
          <a href="/loans/employer_information/<%= loan.id-%>" rel="modal" title="employer contact info"><img src="/images/silk/application_view_detail.png"/></a>
          <a href="#" title="enter a comment" id="comment_<%= loan.id -%>" class="comment"><img src="/images/silk/application_edit.png" style="margin-left:10px"/></a>
        </td>
        <td style="width:180px">
          <% if loan.garnishment_fax_confirmed_at.nil? %>
              <% if loan.garnishment_packet_sent_by_mail_on %>
                <a href="#" class="fax" id="fax_<%= loan.id -%>_<%= loan.customer_id -%>" title="click to confirm or resend packet"><%= loan.garnishment_packet_sent_by_mail_on.to_s(:m_d_y) -%><img src="/images/silk/email.png" style="margin-bottom:-3px !important;margin-left:5px"/></a>
              <% else %>
                <a href="#" class="fax" id="fax_<%= loan.id -%>_<%= loan.customer_id -%>" title="click to confirm or resend packet"><%= image_tag("/images/icons/bullet_black.png",:border => 0) -%></a>
              <% end %>
          <% else %>
              <a href="#" class="fax" id="fax_<%= loan.id -%>_<%= loan.customer_id -%>" title="click to confirm or resend packet"><%= loan.garnishment_fax_confirmed_at.strftime("%m/%d/%Y %I:%M %p") -%></a>
          <% end %>
        </td>
       
          
        <td>
          <% if loan.garnishment_approved_on %>
            <a href="#" class="garnishment_approved" id="garnishment_approved_<%= loan.id -%>" title="click to manage loan status"><%= loan.garnishment_approved_on.to_s(:m_d_y) -%></a>
          <% else %>
            <a href="#" class="garnishment_approved" id="garnishment_approved_<%= loan.id -%>" title="click to manage loan status"><%= image_tag("/images/icons/bullet_black.png",:border => 0) -%></a>
          <% end %>
        </td>
       </tr>
    <% end %>
      <%#= in_place_editor_field "loan","garnishment_sub_status", { :field_type => 'select', :value_required => true, :select_options => ["Packet Sent:PACKET SENT", "Approved:APPROVED","Paying:PAYING"] } %>
  </tbody>
</table>

<div id="comment_dialog" title="Add Comment" style="display:none">
  <div>
    <% form_for :comment, :html => { :id => 'comment_form'} do |f| %>
      <%= f.hidden_field :commentable_id, :value => 0 %>
      <%= f.hidden_field :commentable_type, :value => 'Loan' %>
      <fieldset>
        <p>
          <%= f.label :comment %>
          <%= f.text_area :comment, :rows => 10 %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>

<div id="fax_dialog" title="Garnishment Packet Fax Info" style="display:none">
  <% form_for :customer, :html => { :id => 'fax_dialog_form'} do |f| %>
    <%= f.hidden_field :id, :value => 0 %>
    <input type="hidden" name="loan_id" id="loan_id" value=""/>
    <fieldset>
      <p>
        <%= f.label :employer_fax %>
        <%= f.text_field :employer_fax, :maxlength => 12, :size => 15 %>
      </p>
      <p>
        <%= f.check_box :resend_garnishment_fax %> Resend Garnishment Fax
      </p>
      <p>
        <%= f.check_box :garnishment_fax_received %> Garnishment Fax Received
      </p>
      <p>
        <%= f.check_box :garnishment_packet_sent_by_mail %> Packet Sent By Mail
      </p>
    </fieldset>
  <% end %>

  <p>
    <span style="font-weight:bold">Garnishment Fax Status:</span> <span id="fax_status"></span>
  </p>

  <p>
    <span style="font-weight:bold">Fax Attempts:</span> <span id="fax_attempts"></span>
  </p>
</div>

<div id="garnishment_status_dialog" title="Manage Garnishment Status" style="display:none">
</div>

<div id="garnishment_telephone_status_dialog" title="Telephone Status" style="display:none">
</div>