<h5>Data pulled from 411.com</h5>
<table width="100%" class="popup_table">
	<thead>
    <tr>
      <th class="small" nowrap>Owner</th>
      <th class="small" nowrap>Title</th>
      <th class="small" nowrap>Company</th>
      <th class="small" nowrap>Address</th>
      <th class="small" nowrap>City</th>
      <th class="small" nowrap>State</th>
      <th class="small" nowrap>Zip</th>
      <th class="small" nowrap>Line Type</th>
      <th class="small" nowrap>Provider</th>
    </tr>
  </thead>
  <tbody>
    <% CustomerPhoneListing.find_all_by_phone(phone).each do |listing| %>
      <tr style="<%= cycle('odd', 'even') %>">
        <td><%= h listing.owner %></td>
        <td><%= h listing.title %></td>
        <td><%= h listing.company %></td>
        <td><%= h listing.address %></td>
        <td><%= h listing.city %></td>
        <td><%= h listing.state %></td>
        <td><%= h listing.zip %></td>
        <td><%= h listing.line_type %></td>
        <td><%= h listing.provider %></td>
      </tr>
    <% end %>
  </tbody>
</table>