<table>

	<thead>
		<tr>
		   <th>Date</th>
		   <th>Time</th>
		   <th>Name</th>
		   <th>SSN</th>
 		   <th>Status</th>
		   <th>Reason</th>
		   <th>&nbsp;</th>
		</tr>

	</thead>

	<tfoot>
		<tr>
			<td colspan="7" style="text-align: center;">
				<%= will_paginate loans, :inner_window => 1, :style => "text-align: center;" %><br/>
                                <%= page_entries_info @loans %>
				<div class="clear"></div>
			</td>
		</tr>
	</tfoot>

	<tbody>
	  <% loans.each do |loan| %>
			<tr>
			  <td><%= loan.created_at.strftime("%m/%d/%Y") %></td>
			  <td><%=loan.created_at.strftime("%I:%M:%S %p") %></td>
                          <td><%= link_to loan.customer.full_name, loan_path(loan) %></td>
                          <td><%= loan.customer.ssn.using('xxx-xx-####') %></td>
                          <% if loan.accepted? %>
                            <td><%= link_to loan.aasm_state.split("_").join(" ").titleize, loan_path(loan) %></td>
                            <td>&nbsp;</td>
                          <% else %>
                            <td><%= loan.aasm_state.capitalize %></td>
                            <td><%= loan..reject_reason %></td>
                          <% end %>
                          <td nowrap class="icons">
                                  <%= link_to image_tag("icons/pencil.png", :alt => "Edit", :border => 0), edit_loan_path(loan) %>
                                  <%= link_to image_tag("icons/cross.png", :alt => "Delete", :border => 0), loan_path(loan), :method => :delete, :confirm => "Are you sure?" %>
                          </td>
			</tr>
		<% end %>
	</tbody>

</table>