 <script type="text/javascript">

 $(document).ready(function() {

    $('#send_sms_messages').change(function() {
          checked = $(this).attr('checked');
          $.post("/member_area/tila","d=send_sms_messages&v="+checked,null,"script");
        });

 });

 </script>

<% h4_font_size = pdf ? '10px' : '16px' %>
<% loan_number_width = pdf ? '120px' : '200px' %>
<% if pdf %>
<style type="text/css">
  p { font-size:8px; }
  ul li { font-size:8px; }
  table tr td { font-size:10px; }
</style>
<% end %>

<form method="post" action="/loan_confirmation/accept_agreement" >

<div class="clear"></div>
<div id="truth_in_lending">

  <table width="100%" style="margin-bottom:10px">
    <tr>
      <td style="width:<%= loan_number_width -%>;border:none">No: <%= loan.id -%></td>
      <td style="border:none;">DEFERRED DEPOSIT LOAN AGREEMENT</td>
      <td style="text-align:right;border:none">Date: <%= loan.created_at.to_s(:m_d_y) -%></td>
    </tr>
  </table>

  <table width="100%">
    <tr>
      <td width="50%" class="header">BORROWER</td>
      <td width="50%" class="header">CREDITOR</td>
    </tr>
    <tr>
      <td>
        <p class="strong"><%= h customer.full_name %></p>
        <p class="strong"><%= h customer.address %></p>
        <p class="strong"><%= h customer.city %>, <%= customer.state %> <%= customer.zip %></p>
        <p>Phone: <%= number_to_phone(customer.home_phone) %></p>
        <p>Email: <%= h customer.email %></p>
        <p>Customer No.: <%= customer.id %></p>
      </td>
      <td>
        <p class="strong">FloBridge Group, L.L.C.</p>
        <p class="strong">691 W. 1200 N., Ste. 100</p>
        <p class="strong">Springville, UT 84663</p>
        <p>Phone: 1 (866) 569-3321</p>
        <p>Fax: (801) 692-6690</p>
        <p>www.flobridge.com</p>
      </td>
    </tr>
  </table>
  
  <p style="margin-top:10px;text-align:center">FEDERAL TRUTH-IN-LENDING DISCLOSURES</p>
  
  <table width="100%">
    <tr>
      <td colspan="3" style="padding: 0px;border:1px solid #000000">
        <table width="100%">
          <tr>
            <td width="25%" style="border-bottom: 2px solid #000000; border-right: 2px solid #000000;background:#ccc;">
              <h4 style="text-transform:uppercase;font-family:Arial;font-size:<%= h4_font_size -%>">Annual Percentage Rate</h4>
              <p style="margin-top:10px">The cost of your credit as a yearly rate.</p>
              <h2><%= number_to_percentage(loan.apr, :precision => 2) %></h2>
            </td>
            <td width="25%" style="border-bottom: 2px solid #000000; border-right: 2px solid #000000;background:#ccc">
              <h4 style="text-transform:uppercase;font-family:Arial;font-size:<%= h4_font_size -%>">Finance Charge</h4>
              <p style="margin-top:10px">The dollar amount the credit will cost you.</p>
              <h2><%= number_to_currency(loan.signature_page_finance_charge, :precision => 2) -%></h2>
            </td>
            <td width="25%" style="border-bottom: 0px; border-right: 1px solid #000000;">
              <h4 style="font-family:Arial">Amount Financed</h4>
              <p style="margin-top:10px">The amount of credit provided to you or on your behalf.</p>
              <h2><%= number_to_currency(loan.signature_page_loan_amount) %></h2>
            </td>
            <td width="25%" style="border-bottom: 0px; border-right: 0px;">
              <h4 style="font-family:Arial">Total Of Payments</h4>
              <p>The amount you will have paid after you have made all payments as scheduled.</p>
              <h2><%= number_to_currency(loan.initial_total_of_payments) %></h2>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <table>
          <tr>
            <td colspan="3" style="border:none">Payment Schedule:  One payment in the amount of <%= number_to_currency(loan.initial_total_of_payments) %> due on <%= loan.due_date.to_s(:m_d_y) -%></td>
          </tr>
          <tr>
            <td style="border:none">Security:</td>
            <td colspan="2" style="border:none">You are giving a security interest via ACH Authorization, Remotely-Created Check Authorization, and Wage Assignment.</td>
            <!--
            <td style="border:none">
              <ul style="list-style-type:disc">
                <li>ACH Authorization</li>
                <li>Remotely-Created Check Authorization</li>
                <li>Wage Assignment</li>
              </ul>
            </td>
            -->
          </tr>
          <tr>
            <td style="border:none">Prepayment:</td>
            <td colspan="2" style="border:none">If you pay off early, you will not have to pay a penalty.</td>
          </tr>
          <tr>
            <td colspan="3" style="border:none">See the terms of this Loan Agreement for any additional information about nonpayment, default and lack of prepayment penalties.</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <p style="margin-top:10px">
    Itemization of Amount Financed <%= number_to_currency(loan.signature_page_loan_amount) %>:
    &nbsp;&nbsp;&nbsp;
    Amount given to you directly: <%= number_to_currency(loan.signature_page_loan_amount) %>
    &nbsp;&nbsp;&nbsp;
    Amount paid on Account No. <%= loan.id -%> with us: $0.00
  </p>

  <p style="margin-top: 10px;">
    In this Deferred Deposit Loan Agreement (hereinafter referred to as the &quot;Loan Agreement&quot;), the words &quot;you&quot; and &quot;your&quot; mean the Borrower who has signed it.
    The words &quot;we&quot;, &quot;us&quot; and &quot;our&quot; mean FloBridge Group, L.L.C. registered under Utah's Check Cashing Registration Act and regulated by the Utah Department of Financial Institutions.
    If you have a complaint, you may contact the Department of Financial Institutions at 324 South State Street, Suite 201, Salt Lake City, UT 84111.
    The phone number for the Department is (801) 538-8830, and the website for the Department is <%= link_to('http://www.dfi.utah.gov','http://www.dfi.utah.gov') -%>.
  </p>

  <p style="margin-top: 10px;">
    In order to complete your transaction with us, you must electronically sign this Loan Agreement by clicking the &quot;I Agree&quot; button below.
    Before we can approve your loan, we must speak with you to review the terms of the Loan Agreement pursuant to Utah Code Section 7-23-105.
    We will then approve or deny the Loan Agreement.  If the Loan Agreement is approved, it will be consummated as of <%= loan.created_at.to_s(:sm_d_y) -%>.
    You have chosen to receive the proceeds of this Loan Agreement electronically.
    If the Loan Agreement is approved we will use commercially reasonable efforts to effect a credit entry by depositing the proceeds from this Loan Agreement
    into the bank account listed below in the ACH Authorization (&quot;Your Account&quot;) on <%= Date.next_business_day_after(loan.created_at.to_date).to_s(:sm_d_y) -%>  (&quot;Disbursement Date&quot;),
    unless such proceeds are applied to any outstanding obligation to us.
    Unavoidable delays as a result of inadvertent processing errors and/or &quot;acts of God&quot; may extend the time for the deposit.
    We rely on your representations and representations from third parties in determining the Disbursement Date.
  </p>

  <p style="margin-top: 10px;">
    <span style="font-weight:bold">PROMISE TO PAY.</span>
    You promise to pay us <%= number_to_currency(loan.signature_page_loan_amount) -%> (principal amount of loan),
    plus interest from the Disbursement Date, at an annual rate of <%= number_to_percentage(loan.apr, :precision => 2) %> based upon a 365 day year,
    until the payment date set forth in the Payment Schedule above (&quot;Payment Date&quot;) and other permitted charges.
    The interest under this Loan Agreement is calculated using the simple interest method and is earned beginning on the Disbursement Date.
    Interest continues to accrue on the outstanding principal balance owing until the Payment Date.
    No interest is charged after the Payment Date.  All payments will be applied first to principal and then to interest.
    Both the amount of interest charged and rate thereof are set forth respectively in the Finance Charge and Annual Percentage Rate disclosures.
    Pursuant to the ACH Authorization, you have directed us to initiate separate ACH debit entries to your bank account for the principal amount
    of the loan and the Finance Charge or any lesser amounts owing on the Payment Date or thereafter.
  </p>

  <% bank_account = loan.customer.default_funding_bank_account %>
  <p style="margin-top: 10px;">
    <span style="font-weight:bold">ACH AUTHORIZATION.</span>
    You hereby voluntarily authorize us, and our successors and assigns, to initiate automatic credit and debit entries to your bank account:&nbsp;&nbsp;
    <span style="font-weight:bold">Name of bank and state:</span>&nbsp;
    <%= bank_account.bank_name %> - <%= bank_account.bank_state %>;&nbsp;&nbsp;
    <span style="font-weight:bold">Account type:</span>&nbsp;Checking;&nbsp;&nbsp;
    <span style="font-weight:bold">Bank routing and transit number:</span>&nbsp;<%= bank_account.bank_aba_number %>;&nbsp;&nbsp;
    <span style="font-weight:bold">and Account Number:</span>&nbsp;<%= bank_account.bank_account_number %>.
  </p>

  <ul style="margin-left:20px;list-style-type:disc;">
    <li>If the Loan Agreement is approved, we will use commercially reasonable efforts to deposit the loan proceeds into Your Account on the Disbursement Date unless such proceeds are applied to any outstanding obligation to us.  However, unavoidable delays as a result of inadvertent processing errors and/or &quot;acts of God&quot; may extend the time for the deposit.</li>
    <li>You agree that we will initiate an ACH debit entry to Your Account for the principal amount of the loan or any lesser amount owing if prepayments have been made, on the Payment Date.  You understand and acknowledge that you may terminate this authorization by notifying us in such time and manner as to afford us and your bank a reasonable opportunity to act on it.</li>
    <li>You also agree that we will initiate a separate ACH debit entry to Your Account for the Finance Charge or any lesser amount owing if prepayments have been made, on the Payment Date.  You understand and acknowledge that you may terminate this authorization by notifying us in such time and manner as to afford us and your bank a reasonable opportunity to act on it.</li>
    <li>You also agree that we will initiate a separate ACH debit entry to Your Account for any Collection Charge incurred.  You understand and acknowledge that you may terminate this authorization by notifying us in such time and manner as to afford us and your bank a reasonable opportunity to act on it.</li>
    <li>You further authorize us to verify all of the information that you have provided, including past and/or current information.  You agree that the debit entries authorized herein are for repayment of a single payment installment loan and shall not recur at substantially regular intervals.  If there is any missing or erroneous information in or with your loan application regarding your bank, bank routing and transit number, or account number, then you authorize us to verify and correct such information.  You agree that this ACH Authorization is subject to our approving the Loan Agreement.</li>
  </ul>

  <p style="margin-top: 10px;">
    <span style="font-weight:bold">REMOTELY CREATED CHECK AUTHORIZATION.</span>&nbsp;
    If an ACH Authorization is dishonored, then you authorize us, and our agents, successors and assigns, to create paper check(s)
    bearing your typed name and other information as may be required under applicable law, rather than your handwritten signature,
    drawn on Your Account and to submit each check for payment in the amount of each dishonored debit entry (&quot;Remotely Created Check&quot;).
    If a Remotely Created Check is returned unpaid, then you authorize us to create and submit a remotely created check for any collection charges,
    or other amounts owing. You agree that your typed name or other designation mandated by applicable law will constitute your authorized signature
    fully reflecting your intent to authenticate any such Remotely Created Check.
    If you believe we charged Your Account in a manner not contemplated by this authorization, then please contact us.
  </p>

  <p style="margin-top: 10px;">
    <span style="font-weight:bold">REVOCABLE ASSIGNMENT OF EARNINGS.</span>&nbsp;
    If the ACH Authorization and Remotely Created Check are dishonored and you have not otherwise made payment in full under this Agreement,
    then you voluntarily authorize your employer to deduct the amounts owing from your wages and pay those funds directly to us.
    This revocable assignment of earnings does not apply to government employees.  THIS ASSIGNMENT OF EARNINGS IS REVOCABLE AT WILL.
    You may revoke this assignment by writing us at the address above.
    Your letter must state your name, date of your transaction and that you wish to revoke the Assignment of Earnings.
  </p>

  <p style="margin-top: 10px;">
    <span style="font-weight:bold">CANCELLATION and PREPAYMENT.</span>&nbsp;
    You may prepay in increments of at least $5.00 or in full the amount due under this Loan Agreement at any time and will not incur
    an additional charge, fee or penalty.  Prepayment in part or in full will reduce the amount of interest you are required to pay under this Loan Agreement.
    You will not incur any additional charge, fee or penalty if you cancel your obligations hereunder or prepay your obligations.
    You have the right to cancel your obligations without having to pay any finance charge.
    You also have the right to prepay your obligations without having to pay any finance charge or by paying a reduced finance charge, depending upon the date of prepayment.
    To cancel this Loan Agreement, you must fax or email to us written notice of your intent to cancel prior to our initiating an automatic credit to Your Account.
    To prepay your obligations without having to pay any finance charge, you must email or fax to us, prior to 5:00 PM Mountain Time on the Disbursement Date,
    written authorization to effect a debit entry to Your Account for the principal amount of the loan.
    If we receive payment of the principal amount of the loan via such authorization, we agree to rebate and refund the finance charge we have earned.
    At any time after 5:00 PM Mountain Time on the Disbursement Date and before 5:00 PM Mountain Time on the business day prior to the Payment Date,
    you can prepay your obligations in full by sending us an email or fax giving us written authorization to effect a debit entry to Your Account for the prepayment.
    The payoff amount will be calculated as of the date you send us such written authorization.
  </p>

  <p style="margin-top: 10px;">
    <span style="font-weight:bold">COLLECTION CHARGES.</span>&nbsp;
    If your ACH Authorization or Remotely Created Check is not honored upon initiation or presentment,
    Your Account is closed or Your Account does not have sufficient funds for payment in full, then you will incur a $20 service charge.
    You may incur additional collection costs in accordance with Utah Code §7-15-1.
  </p>

  <p style="margin-top: 10px;">
    <span style="font-weight:bold">DEFAULT.</span>&nbsp;
    You will be in default under this Loan Agreement if you do not timely pay us the agreed upon amount.
    You agree that the information you gave us prior to entering into this Loan Agreement is accurate.
  </p>

  <p style="margin-top: 10px;font-weight:bold;border:1px solid;padding:2px">
    NOTICE OF FURNISHING NEGATIVE INFORMATION.  We may report information about your account to credit bureaus.
    Late payments, missed payments, or other defaults on your account may be reflected in your credit report.
  </p>

  <p style="margin-top: 10px;">
    <span style="font-weight:bold">SECURITY.</span>&nbsp;
    Pursuant to Comment 2(a)(25) of the Federal Reserve Board Official Staff Commentary to Regulation Z §226.2,
    we have disclosed to you that our interests in the ACH Authorization, Remotely Created Check and Wage Assignment are security interests for Truth-in-Lending purposes only,
    because federal and Utah law do not clearly address whether our interests in the ACH Authorization,
    Remotely Created Check and Wage Assignment are &quot;security interests.&quot;
  </p>

  <p style="margin-top: 10px;">
    <span style="font-weight:bold">CONTENT FOR ELECTRONIC RECORDS.</span>&nbsp;
    The following terms and conditions govern electronic communications in connection with this Agreement,
    the transaction evidenced hereby and any communications relating to the transaction (the &quot;Consent&quot;).
    By electronically signing this Agreement by clicking the &quot;I AGREE&quot; button below, you are confirming that
    you have agreed to the terms and conditions of the Consent and that you have downloaded or printed a
    copy of this Consent for your records.  You agree to conduct this transaction by use of electronic disclosures and contract documents (&quot;Records&quot;).
    You are free to withdraw the Consent at any time and at no charge to you.
    If you do withdraw the Consent prior to receiving the loan, this will prevent you from obtaining a loan with us over the Internet.
    If at any time you wish to withdraw the Consent, you can send your written request to the company's address at the top of this Loan Agreement.
    If you decide to withdraw the Consent, the legal effectiveness, validity and/or enforceability of prior electronic Records will not be affected.
  </p>

  <p style="margin-top: 10px;">
    You further agree that:
  </p>

  <ul style="margin-left:20px;list-style-type:disc">
    <li style="margin-top:10px">
      <span style="font-weight:bold">Electronic Communications.</span>
      You may request in writing a paper copy of the Records by mailing the details of your request to the company's address at the top of this Loan Agreement.
      Your request for paper copies may be made after executing the Consent and after any withdrawal of the Consent.
      We will provide the paper copies to you at no charge and shall retain the Records as required by law.
    </li>
    <li style="margin-top:10px">
      <span style="font-weight:bold">Consenting to Do Business Electronically.</span>
      Before agreeing to the Consent, you should consider whether you have the required hardware and software capabilities described below.
    </li>
    <li style="margin-top:10px">
      <span style="font-weight:bold">Hardware and Software Requirements.</span>
      To access and retain the Records electronically, you will need to use the following computer software and hardware:
      A PC or MAC compatible computer or other device capable of accessing the Internet and an Internet Browser software
      program that supports at least 128 bit encryption, such as Microsoft&reg; Internet Explorer, Netscape&reg; or Mozilla Firefox&reg;.
      To read some documents, you may need a PDF file reader like Adobe&reg; Acrobat Reader Xpdf&reg; or Foxit&reg;.
      If at any time during this transaction these requirements change in a way that creates a material risk that you may not
      be able to receive Records electronically, we will notify you of these changes.
      You will need a printer or a long-term storage device, such as your computer's disk drive, to retain a copy of the Disclosures for future reference.
    </li>
    <li style="margin-top:10px">
      <span style="font-weight:bold">Change to Your Contact Information.</span>
      You should keep us informed of any change in your electronic address or mailing address.
      You may contact us by mail at the company's address at the top of this Loan Agreement.
    </li>
    <li style="margin-top:10px">
      <span style="font-weight:bold">Your Ability to Access Records.</span>
      You acknowledge that you can access the Records in the designated formats described above.
    </li>
    <li style="margin-top:10px">
      <span style="font-weight:bold">Scope of Consent.</span>
      Your Consent and our agreement to conduct transactions electronically apply to all transactions between you and us.
      By exercising Your Consent, we will process your application information and interact during this transaction and any future online transaction with you electronically.
      We will also send you notices related to your application, any transaction you enter, and other notices electronically.
    </li>
  </ul>

  <p style="margin-top: 10px;">
    <span style="font-weight:bold">GOVERNING LAW, ASSIGNMENT and EXECUTION.</span>&nbsp;
    This Loan Agreement will be governed by the laws of the State of Utah.
    Any dispute arising out of this Loan Agreement will be subject to the WAIVER OF JURY TRIAL AND ARBITRATION PROVISION,
    which is governed by the Federal Arbitration Act, 9 U.S.C. Sections 1-16 (&quot;FAA&quot;).
    We may assign or transfer this Loan Agreement or any of our rights hereunder.
    If this Loan Agreement is approved by us, then you agree that the electronically signed Loan Agreement we receive
    from you will be considered the original executed Loan Agreement, which is binding and enforceable as to both parties.
  </p>

  <p style="margin-top: 10px;">
    <span style="font-weight:bold">WAIVER OF JURY TRIAL AND ARBITRATION PROVISION.</span>&nbsp;
    Arbitration is a process in which persons with a dispute:
    (a) waive their rights to file a lawsuit and proceed in court and to have a jury trial to resolve their disputes; and
    (b) agree, instead, to submit their disputes to a neutral third person (an &quot;arbitrator&quot;) for a decision.
    Each party to the dispute has an opportunity to present some evidence to the arbitrator.  Pre-arbitration discovery may be limited.
    Arbitration proceedings are private and less formal than court trials.
    The arbitrator will issue a final and binding decision resolving the dispute, which may be enforced as a court judgment.
    A court rarely overturns an arbitrator's decision.
    <span style="text-decoration:underline">We have a policy of arbitrating all disputes with borrowers which cannot be resolved in a small claims tribunal,
    including the scope and validity of this Arbitration Provision and any right you may have to participate in an alleged class action.</span>
    <span style="font-weight:bold">THEREFORE, YOU ACKNOWLEDGE AND AGREE AS FOLLOWS:</span>
  </p>

  <p style="margin-top: 10px;">
    1.  For purposes of this Waiver of Jury Trial and Arbitration Provision (hereinafter the &quot;Arbitration Provision&quot;),
    the words &quot;dispute&quot; and &quot;disputes&quot; are given the broadest possible meaning and include, without limitation
    (a) all claims, disputes, or controversies arising from or relating directly or indirectly to the signing of this Arbitration Provision,
    the validity and scope of this Arbitration Provision and any claim or attempt to set aside this Arbitration Provision;
    (b) all federal or state law claims, disputes or controversies, arising from or relating directly or indirectly to this Loan Agreement
    (including the Arbitration Provision), the information you gave us before entering into this Loan Agreement,
    including the Customer Information Sheet, and/or any past agreement or agreements between you and us;
    (c) all counterclaims, cross-claims and third-party claims;
    (d) all common law claims, based upon contract, tort, fraud, or other intentional torts;
    (e) all claims based upon a violation of any state or federal constitution, statute or regulation;
    (f) all claims asserted by us against you, including claims for money damages to collect any sum we claim you owe us;
    (g) all claims asserted by you individually against us and/or any of our employees, agents, directors, officers, shareholders,
    governors, managers, members, parent company or affiliated entities (hereinafter collectively referred to as &quot;related third parties&quot;),
    including claims for money damages and/or equitable or injunctive relief;
    (h) all claims asserted on your behalf by another person;
    (i) all claims asserted by you as a private attorney general,
    as a representative and member of a class of persons, or in any other representative capacity,
    against us and/or related third parties (hereinafter referred to as &quot;Representative Claims&quot;); and/or
    (j) all claims arising from or relating directly or indirectly to the disclosure by us or related third parties of any non-public personal information about you.
  </p>

  <p style="margin-top: 10px;">
    2.  You acknowledge and agree that by entering into this Arbitration Provision:
  </p>

  <ul style="margin-left:20px;list-style-type:lower-alpha">
    <li style="font-weight:bold">
      YOU ARE WAIVING YOUR RIGHT TO HAVE A TRIAL BY JURY TO RESOLVE ANY DISPUTE ALLEGED AGAINST US OR RELATED THIRD PARTIES;
    </li>
    <li style="font-weight:bold">
      YOU ARE WAIVING YOUR RIGHT TO HAVE A COURT, OTHER THAN A SMALL CLAIMS TRIBUNAL, RESOLVE ANY DISPUTE ALLEGED AGAINST US OR RELATED THIRD PARTIES; and
    </li>
    <li style="font-weight:bold">
      YOU ARE WAIVING YOUR RIGHT TO SERVE AS A REPRESENTATIVE, AS A PRIVATE ATTORNEY GENERAL, OR IN ANY OTHER REPRESENTATIVE CAPACITY, AND/OR TO PARTICIPATE AS A MEMBER OF A CLASS OF CLAIMANTS, IN ANY LAWSUIT FILED AGAINST US AND/OR RELATED THIRD PARTIES.
    </li>
  </ul>

  <p style="margin-top: 10px;">
    3.  Except as provided in <span style="text-decoration:underline">Paragraph 6</span> below, all disputes including any Representative Claims against us and/or related third parties <span style="text-decoration:underline">shall</span> be
    resolved by binding arbitration <span style="text-decoration:underline">only</span> on an individual basis with you.
    <span style="font-weight:bold">THEREFORE, THE ARBITRATOR SHALL NOT CONDUCT CLASS ARBITRATION; THAT IS, THE ARBITRATOR SHALL NOT ALLOW YOU TO SERVE AS A REPRESENTATIVE,
    AS A PRIVATE ATTORNEY GENERAL, OR IN ANY OTHER REPRESENTATIVE CAPACITY FOR OTHERS IN THE ARBITRATION.</span>
  </p>

  <p style="margin-top: 10px;">
    4.  Any party to a dispute, including related third parties, may send the other party written notice by certified mail return
    receipt requested of their intent to arbitrate and setting forth the subject of the dispute along with the relief requested,
    even if a lawsuit has been filed.  Regardless of who demands arbitration, you shall have the right to select either of the
    following arbitration organizations to administer the arbitration:  the American Arbitration Association
    (1-800-778-7879) http://www.adr.org or JAMS/Endispute (1-800-352-5267) http://www.jamsadr.com.
    However, the parties may agree to select a local arbitrator who is an attorney, retired judge, or arbitrator registered and
    in good standing with an arbitration association and arbitrate pursuant to such arbitrator's rules.
    The party receiving notice of arbitration will respond in writing by certified mail return receipt requested within twenty (20) days.
    If you demand arbitration, you must inform us in your demand of the arbitration organization you have selected or whether you desire to select a local arbitrator.
    If related third parties or we demand arbitration, you must notify us within twenty (20) days in writing by certified mail return
    receipt requested of your decision to select an arbitration organization or your desire to select a local arbitrator.
    If you fail to notify us, then we have the right to select an arbitration organization.
    The parties to such dispute will be governed by the rules and procedures of such arbitration organization applicable to consumer disputes,
    to the extent those rules and procedures do not contradict the express terms of this Loan Agreement or the Arbitration Provision,
    including the limitations on the arbitrator below.
    You may obtain a copy of the rules and procedures by contacting the arbitration organization listed above.
  </p>

  <p style="margin-top: 10px;">
    5.  Regardless of who demands arbitration, we will advance your portion of the expenses associated with the arbitration,
    including the filing, administrative, hearing and arbitrator’s fees (&quot;Arbitration Fees&quot;).
    Throughout the arbitration, each party shall bear his or her own attorneys' fees and expenses, such as witness and expert witness fees.
    The arbitrator shall apply applicable substantive law consistent with the FAA, and applicable statutes of limitation,
    and shall honor claims of privilege recognized at law.  The arbitration hearing will be conducted in the county of your residence,
    or within 30 miles from such county, or in such other place as shall be ordered by the arbitrator.
    The arbitrator may decide, with or without a hearing, any motion that is substantially similar to a motion to dismiss
    for failure to state a claim or a motion for summary judgment.  In conducting the arbitration proceeding,
    the arbitrator shall not apply any federal or state rules of civil procedure or evidence.
    If allowed by statute or applicable law, the arbitrator may award statutory damages and/or reasonable attorneys' fees and expenses.
    Regardless of whether the arbitrator renders a decision or an award in your favor resolving the dispute,
    you will not be responsible for reimbursing us for your portion of the Arbitration Fees.
    At the timely request of any party, the arbitrator shall provide a written explanation for the award.
    The arbitrator’s award may be filed with any court having jurisdiction.
  </p>

  <p style="margin-top: 10px;">
    6. All parties, including related third parties, shall retain the right to seek adjudication in a small claims tribunal
    for disputes in the county of your residence within the scope of such tribunal's jurisdiction.
    Any dispute, which cannot be adjudicated within the jurisdiction of a small claims tribunal, <span style="text-decoration:underline">shall</span> be resolved by binding arbitration.
    Any appeal of a judgment from a small claims tribunal <span style="text-decoration:underline">shall</span> be resolved by binding arbitration.
  </p>

  <p style="margin-top: 10px;">
    7.  This Arbitration Provision is made pursuant to a transaction involving interstate commerce and shall be governed by the FAA.
    If a final non-appealable judgment of a court having jurisdiction over this transaction finds, for any reason,
    that the FAA does not apply to this transaction, then our agreement to arbitrate shall be governed by the arbitration law of the State of Utah.
  </p>

  <p style="margin-top: 10px;">
    8. This Arbitration Provision is binding upon and benefits you, your respective heirs, successors and assigns.
    The Arbitration Provision is binding upon and benefits us, our successors and assigns, and related third parties.
    The Arbitration Provision continues in full force and effect, even if your obligations have been prepaid, paid or discharged through bankruptcy.
    The Arbitration Provision survives any termination, amendment, expiration or performance of any transaction between you and us and continues in
    full force and effect unless you and we otherwise agree in writing.
  </p>

  <p style="margin-top: 10px;border:1px solid;padding:4px">
    <span style="font-weight:bold">OPT-OUT PROCESS.</span>&nbsp;
    You may choose to opt out of this Arbitration Provision but only by following the process set forth below.
    If you do not wish to be subject to this Arbitration Provision, then you must notify us in writing within thirty
    (30) calendar days of the date of this Note at the following address:
    FloBridge Group, L.L.C. 484 West 800 North, Suite 202, Orem, UT, 84057.
    Your written notice must include your name, address, social security number, the date of this Note, and a statement
    that you wish to opt out of the Arbitration Provision.  Your decision to opt out on this transaction applies
    to this transaction only and no subsequent transactions with us.  Your decision to opt out on subsequent
    transactions with us will only apply to that particular transaction and no previous transactions with us.
  </p>

  <p style="margin-top: 10px;border:1px solid;padding:4px">
    Please check the appropriate box if you would like to receive preprecorded messages and/or text messages, including reminders, notices and special offers:
    <br /><br />
    <%= check_box_tag :send_prerecorded_messages, '1', customer.send_prerecorded_messages -%>
    <span style="font-weight:bold">PRERECORDED MESSAGES.</span>
    I would like to receive telephone calls with prerecorded messages from FloBridge Group LLC d/b/a FloBridge,
    its agents, and affiliates that provide reminders, notices, and special sales offers at this telephone number: <%= loan.customer.cell_phone.using('###-###-####') unless loan.customer.cell_phone.nil? -%>.
    <br /><br />
    <%= check_box_tag :send_sms_messages, '1', customer.send_sms_messages -%>
    <span style="font-weight:bold">TEXT MESSAGES.</span>
    I would like to receive text messages from FloBridge Group LLC d/b/a FloBridge, its agents, and affiliates that provide reminders,
    notices, and special sales offers at this telephone number: <%= loan.customer.cell_phone.using('###-###-####') unless loan.customer.cell_phone.nil? -%>.
  </p>

  <p style="margin-top: 10px;">
    <span style="font-weight:bold">By electronically signing this Loan Agreement by clicking the &quot;I Agree&quot; button below, you acknowledge that it was filled in before you did so and you have reviewed it.  You acknowledge and agree that the following statement is true and accurate: </span>
    We have orally reviewed the terms of the Loan Agreement with you pursuant to Utah Code Section 7-23-105 including:
    (i) the amount of any interest rate or fee;
    (ii) the date on which the full amount of the deferred deposit loan is due;
    (iii) that under Utah Code Subsection (3)(a), a person receiving a deferred deposit loan may make a partial payment in increments of at least $5 on the principal owed on the deferred deposit loan without incurring additional charges above the charges provided in the written contract;
    (iv) that under Subsection (3)(b), a person receiving a deferred deposit loan may rescind the deferred deposit loan on or before 5 p.m. of the next business day without incurring any charges;
    (v) that under Subsection (4)(b), the deferred deposit loan may not be rolled over without the person receiving the deferred deposit loan requesting the rollover of the deferred deposit loan; and
    (vi) that under Subsection (4)(c), the deferred deposit loan may not be rolled over if the rollover requires the person to pay the amount owed by the person under the deferred deposit loan in whole or in part more than 10 weeks after the day on which the deferred deposit loan is executed.
  </p>

  <p style="margin-top: 10px;">
    Furthermore, you represent that you are not a debtor under any proceeding in bankruptcy and have no intention to file a petition for
    relief under any chapter of the United States Bankruptcy Code.
    <span style="font-weight:bold">You acknowledge that you have read, understand, and agree to all of the terms of this Loan Agreement.
    You also acknowledge you have reviewed our Privacy Policy.
    Your further acknowledge that your right to file suit against us for any claim or dispute regarding this Loan Agreement is limited by the WAIVER OF JURY TRIAL AND ARBITRATION PROVISION.
    </span>
  </p>

  <p style="margin-top: 10px;border:1px solid;padding:4px">
    <span style="font-weight:bold">Utah Disclosures.</span>  The following disclosures are provided pursuant to Utah Code Section 7-23-105:
    <br /><br />
    <span style="font-weight:bold">
      Under Subsection (3)(a), a person receiving a deferred deposit loan may make a partial payment in increments of at least $5 on the principal owed on the deferred deposit loan without incurring additional charges above the charges provided in the written contract;
      <br /><br />
      Under Subsection (3)(b), a person receiving a deferred deposit loan may rescind the deferred deposit loan on or before 5 p.m. of the next business day without incurring any charges;
      <br /><br />
      Under Subsection (4)(b), the deferred deposit loan may not be rolled over without the person receiving the deferred deposit loan requesting the rollover of the deferred deposit loan;
      <br /><br />
      Under Subsection (4)(c), the deferred deposit loan may not be rolled over if the rollover requires the person to pay the amount owed by the person under the deferred deposit loan in whole or in part more than 10 weeks after the day on which the deferred deposit loan is executed; and
      <br /><br />
      The name and address of our designated agent required to be provided the department under Subsection 7-23-103(2)(d)(vi) is FloBridge Group LLC 691 West 1200 North, Suite 100, Springville UT 84663.  Service of process may be made to the designated agent.
    </span>
  </p>
    
  <div id="signature_box">
    <table width="100%">
      <% if loan.aasm_state == "pending_signature" %>
        <tr>
          <td width="70%" style="border: 0px; font-size: 14px;"><strong><%= h customer.full_name.upcase %></strong> (IP Address: <%= h ip_address %>)</td>
          <td width="30%" style="border: 0px; font-size: 14px;"><strong><%= Date.today.strftime("%m/%d/%Y") %></strong></td>
        </tr>
      <% else %>
        <tr>
          <td width="70%" style="border: 0px; font-size: 14px;"><strong><%= h customer.full_name.upcase %></strong> (IP Address: <%= h loan.signature_page_ip_address %>)</td>
          <td width="30%" style="border: 0px; font-size: 14px;"><strong><%= loan.signature_page_accepted_at.strftime("%m/%d/%Y") if loan.signature_page_accepted_at %></strong></td>
        </tr>
      <% end %>
      <tr>
        <td style="border: 0px; border-top: 1px solid #000;">Borrower</td>
        <td style="border: 0px; border-top: 1px solid #000;">Date</td>
      </tr>
    </table>
  </div>
  
  <div id="accept_box">
    <% if loan.aasm_state == "pending_signature" %>
      <% unless current_user %>
        <%# form_tag accept_agreement_path do %>
          <input type="hidden" name="signature_token" value="<%= h @loan.signature_token %>"/>
          <input type="hidden" name="accepted_name" value="<%= h customer.full_name %>"/>
          <%= submit_tag "I Agree", :class => "submit" %>
        <%# end %>
      <% else %>
          Awaiting customer e-Signature
      <% end %>
    <% else %>
      Signed electronically from IP <%= h loan.signature_page_ip_address %> at <%= h loan.signature_page_accepted_at.strftime("%m/%d/%Y %I:%M %p") if loan.signature_page_accepted_at %>
    <% end %>
  </div>
</div>

</form>