<table id="worksheet">

  <thead>
    <tr>
      <th class="small"><br/>Name</th>
      <th class="small"><br/>Remarks</th>
      <th class="very_small center">Verify<br/>Employment</th>
      <th class="very_small center">Verify<br/>Application</th>
      <th class="very_small center"><br/>Finalize</th>
      <th class="very_small center">&nbsp;<br/>Status</th>
    </tr>

  </thead>

  <tbody>
    <% loans.each do |loan| %>
    <%if loan.funded_on.nil? %>
      <tr>
        <td><%= lastworked(loan)%></td>
        <td>
          <%if loan.remark.nil? %>
            <% if loan.aasm_state == 'pending_signature' %>
              pending sig
            <% end %>
          <% else %>
            <%= loan.remark %>
          <% end %>
        </td>
        <td width="100" class="center">
          <% if (loan.verified_employment_with_employer != true)  %>
            <%= link_to image_tag("/images/icons/bullet_black.png", :border => 0),"/loans/#{loan.id}?tab=employment" %>
          <% else %>
            <%= link_to image_tag("/images/icons/icn_complete.gif", :border => 0),"/loans/#{loan.id}?tab=employment" %>
          <% end %>
        </td>
        <td width="100" class="center">
          <% if ((loan.verified_personal == true) && (loan.verified_financial == true) && (loan.verified_employment_with_customer == true)) %>
            <%= link_to image_tag("/images/icons/icn_complete.gif", :border => 0), "/loans/#{loan.id}?tab=tila" %>
          <% elsif ((loan.verified_personal != true) && (loan.verified_financial != true) && (loan.verified_employment_with_customer != true)) %>
            <%= link_to image_tag("/images/icons/bullet_black.png", :border => 0), "/loans/#{loan.id}?tab=personal" %>
          <% else %>
            <% if ((loan.verified_personal == true) && (loan.verified_financial != true ) && (loan.verified_employment_with_customer != true))||((loan.verified_personal != true) && (loan.verified_financial != true ) && (loan.verified_employment_with_customer == true))||((loan.verified_personal != true) && (loan.verified_financial == true ) && (loan.verified_employment_with_customer != true)) %>
              <% if loan.verified_personal == false %>
                <%= link_to image_tag("/images/icons/24/onethirdstark-24x24.png", :border => 0),"/loans/#{loan.id}?tab=personal" %>
              <% elsif loan.verified_financial == false %>
                <%= link_to image_tag("/images/icons/24/onethirdstark-24x24.png", :border => 0),"/loans/#{loan.id}?tab=financial" %>
              <% elsif loan.verified_employment_with_customer == false %>
                <%= link_to image_tag("/images/icons/24/onethirdstark-24x24.png", :border => 0),"/loans/#{loan.id}?tab=employment" %>
              <% end %>
            <% else ((loan.verified_personal == true) && (loan.verified_financial == true ) && (loan.verified_employment_with_customer != true)) || ((loan.verified_personal == true) && (loan.verified_financial != true ) && (loan.verified_employment_with_customer == true)) || ((loan.verified_personal != true) && (loan.verified_financial == true ) && (loan.verified_employment_with_customer == true))%>
              <% if loan.verified_personal == false %>
                <%= link_to image_tag("/images/icons/24/twothirdsstark-24x24.png", :border => 0),"/loans/#{loan.id}?tab=personal" %>
              <% elsif loan.verified_financial == false %>
                <%= link_to image_tag("/images/icons/24/twothirdsstark-24x24.png", :border => 0),"/loans/#{loan.id}?tab=financial" %>
              <% elsif loan.verified_employment_with_customer == false %>
                <%= link_to image_tag("/images/icons/24/twothirdsstark-24x24.png", :border => 0),"/loans/#{loan.id}?tab=employment" %>
              <% end %>
            <% end %>
          <% end %>
        </td>

        <td width="100" class="center">
          <% if loan.verified_tila == false %>
            <%= link_to image_tag("/images/icons/bullet_black.png",:border => 0), "/loans/#{loan.id}?tab=tila" %>
          <% else %>
            <%= link_to image_tag("/images/icons/icn_complete.gif",:border => 0), "/loans/#{loan.id}?tab=tila" %>
          <% end %>
        </td>
        <td width="100" class="center">
  <%# if loan.verification_complete? %>
          <% if ["approved", "denied"].include? loan.aasm_state %>
            <%= link_to image_tag("/images/icons/icn_#{loan.aasm_state}.gif", :border => 0), "/loans/#{loan.id}?tab=summary" %>
          <% elsif ((["underwriting"].include? loan.aasm_state) && (loan.verified_personal == false) && (loan.verified_financial == false) && (loan.verified_tila == false) && (loan.verified_employment_with_customer == false) && (loan.verified_employment_with_employer == false))%>
            <%= link_to image_tag("/images/icons/24/hotnew.png", :border => 0), "/loans/#{loan.id}?tab=summary" %>
          <% else %>
            <%= link_to image_tag("/images/icons/bullet_black.png", :border => 0), "/loans/#{loan.id}?tab=summary" %>
          <% end %>
  <%# else %>
          <!-- &nbsp;-->
  <%# end %>
        </td>
      </tr>
    <% end %>

    <% end %>

  </tbody>
</table>