<script type="text/javascript">
  function onlyNumbers(evt)
  {
          var charCode = (evt.which) ? evt.which : event.keyCode
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

         return true;


  }

</script>
<%= error_messages_for :high_risk_bank_branch %>
<fieldset class="column-left">
  <p>
    <%= f.label :aba_routing_number, "ABA Routing Number" %>
  	<%= f.text_field :aba_routing_number, :class => "text-input medium-input", :style => "width: 30% !important", :maxlength => 9, :onkeypress => "return onlyNumbers(event);" %>
  </p>
  <p>
    <%= f.label :name %>
  	<%= f.text_field :name, :class => "text-input medium-input", :style => "width: 70% !important" %>
  </p>
  <p>
  	<input class="button" type="submit" value="Save Changes" />
  	or <%= link_to "Cancel", high_risk_bank_branches_path %>
  </p>
</fieldset>

<div class="clear"></div><!-- End .clear -->
