<%= stylesheet_link_tag 'custom', :media => 'screen' %>
<table id="loan_activity">
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Principal</th>
      <th>Interest</th>
      <th>Fees</th>
      <th>Method</th>
    </tr>
  </thead>
  <tbody>
    <% for loan_transaction in @loan_transactions %>
    <tr>
      <td><%= loan_transaction.created_at.to_s(:sm_d_y) -%></td>
      <td><%= loan_transaction.tran_type -%></td>
      <% if loan_transaction.tran_type == LoanTransaction::EXTENSION %>
      <td colspan="4">New Due Date: <%= loan_transaction.new_due_date.to_s(:m_d_y) -%></td>
      <% else %>
      <td style="text-align:right"><%= number_to_currency(number_with_precision(loan_transaction.principal.abs, :precision => 2)) unless loan_transaction.principal.nil? -%></td>
      <td style="text-align:right"><%= number_to_currency(number_with_precision(loan_transaction.interest.abs, :precision => 2)) unless loan_transaction.interest.nil? -%></td>
      <td style="text-align:right"><%= number_to_currency(number_with_precision(loan_transaction.fees.abs, :precision => 2)) unless loan_transaction.fees.nil? -%></td>
      <td nowrap>
        <% if loan_transaction.payment_account && [LoanTransaction::PRINCIPAL,LoanTransaction::PAYMENT].include?(loan_transaction.tran_type) %>
          <%= loan_transaction.payment_account.account.description %>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
