<%= stylesheet_link_tag 'custom' %>
<fieldset>
	<legend>Request Extension</legend>
  <p>
  	<table>
          <tbody>
            <tr>
              <td colspan="4" class="first">
                Current Payment Schedule
              </td>
            </tr>
            <!-- Scheduled Payments -->
            <%
              scheduled_principal_total = 0
              scheduled_interest_total  = 0
              scheduled_fees_total      = 0
            %>
            <% for scheduled_payment in @loan.scheduled_payments %>
            <%
              scheduled_principal_total += scheduled_payment.principal
              scheduled_interest_total  += scheduled_payment.interest
              scheduled_fees_total      += scheduled_payment.fees
            %>
            <tr>
              <td>
                <%= scheduled_payment.draft_date.to_s(:sm_d_y) %>
              </td>
              <td>
                Principal: <%= number_to_currency(scheduled_payment.principal) %>
              </td>
              <td>
                Interest: <%= number_to_currency(scheduled_payment.interest) %>
              </td>
              <td>
                Fees: <%= number_to_currency(scheduled_payment.fees) %>
              </td>
              <td>
                Total: <%= number_to_currency(scheduled_payment.amount) %>
              </td>
            </tr>
            <% end %>
            <% logger.info "scheduled_interest_total: #{scheduled_interest_total}" %>

            <!-- Anticipated Final Payment -->
            <tr>
              <td>
                <%= @loan.due_date.to_s(:sm_d_y) %>
              </td>
              <td>
                Principal: <%= number_to_currency(@loan.principal_owed - scheduled_principal_total) %>
              </td>
              <td>
                Interest: <%= number_to_currency(@loan.interest_on(@loan.due_date) - scheduled_interest_total) %>
              </td>
              <td>
                Fees: <%= number_to_currency(@loan.fees_owed - scheduled_fees_total) %>
              </td>
              <td>
                Total: <%= number_to_currency(@loan.principal_owed + @loan.interest_on(@loan.due_date) + @loan.fees_owed - scheduled_principal_total - scheduled_interest_total - scheduled_fees_total) %>
              </td>
            </tr>
          </tbody>
	</table>
	<br/>
	
	<table>
            <tr>
              <td colspan="4" class="first">
                New Payment Schedule
              </td>
            </tr>
            <!-- Scheduled Payments -->
            <%
              scheduled_principal_total = 0
              scheduled_interest_total  = 0
              scheduled_fees_total      = 0
            %>
            <% for scheduled_payment in @loan.scheduled_payments %>
            <%
              scheduled_principal_total += scheduled_payment.principal
              scheduled_interest_total  += scheduled_payment.interest
              scheduled_fees_total      += scheduled_payment.fees
            %>
            <tr>
              <td>
                <%= scheduled_payment.draft_date.to_s(:sm_d_y) %>
              </td>
              <td>
                Principal: <%= number_to_currency(scheduled_payment.principal) %>
              </td>
              <td>
                Interest: <%= number_to_currency(scheduled_payment.interest) %>
              </td>
              <td>
                Fees: <%= number_to_currency(scheduled_payment.fees) %>
              </td>
              <td>
                Total: <%= number_to_currency(scheduled_payment.amount) %>
              </td>
            </tr>
            <% end %>
            <!-- Anticipated New Scheduled Payment -->
            <tr>
              <td>
                <%= @loan.due_date.to_s(:sm_d_y) %>
              </td>
              <td>
                Principal: <%= number_to_currency(0) %>
              </td>
              <td>
                Interest: <%= number_to_currency(@loan.interest_on(@loan.due_date) - scheduled_interest_total) %>
              </td>
              <td>
                Fees: <%= number_to_currency(@loan.fees_owed - scheduled_fees_total) %>
              </td>
              <td>
                Total: <%= number_to_currency(@loan.interest_on(@loan.due_date) + @loan.fees_owed - scheduled_interest_total - scheduled_fees_total) %>
              </td>
            </tr>
            <%
              scheduled_fees_total += @loan.fees_owed - scheduled_fees_total
            %>
            <!-- Anticipated Final Payment -->
            <tr>
              <td>
                <%= @loan.next_due_date.to_s(:sm_d_y) %>
              </td>
              <td>
                <% final_principal = @loan.principal_owed - scheduled_principal_total %>
                Principal: <%= number_to_currency(final_principal) %>
              </td>
              <td>
                <% final_interest = @loan.interest_on(@loan.next_due_date) - @loan.interest_on(@loan.due_date) %>
                Interest: <%= number_to_currency(final_interest) %>
              </td>
              <td>
                <% final_fees = @loan.fees_owed - scheduled_fees_total %>
                Fees: <%= number_to_currency(final_fees) %>
              </td>
              <td>
                Total: <%= number_to_currency(final_principal + final_interest + final_fees) %>
              </td>
            </tr>
	</table>
	
  </p>
</fieldset>
<table  width="100%" style="text-align:center;" >
	<tr>
		<td style="padding:0px 0px 0px 0px;text-align:right;">
			<%= button_to "Cancel" %>
		</td>
		<td style="padding:0px 0px 0px 0px;text-align:left;">
			<%= button_to "Request Extension" ,{:controller => 'member_area', :action => 'extend_loan', :loan => @loan, :next_due_date => @loan.next_due_date} %>
		</td>
	</tr>
</table>

