<div style="margin-top:10px">
  <div style="float:left;width:48%;padding-left:10px">
    <a href="<%= member_area_payments_path -%>">
    <div class="green_button">
      Make<br />
      Payment
    </div>
    </a>
    <div class="green_button_explanation">
      Pay off your loan, schedule future payments, or pay down your principal.
    </div>
    <div class="clear"></div>

    <a href="<%= member_area_extensions_path -%>">
    <div class="green_button">
      Request<br />Extension
    </div>
    </a>
    <div class="green_button_explanation">
      Pay interest due to extend your loan to your next payday (12 weeks max).
    </div>
    <div class="clear"></div>

    <a href="<%= member_area_new_loan_path -%>">
    <div class="green_button">
      New<br />Loan
    </div>
    </a>
    <div class="green_button_explanation">
      Get a new loan quickly and easily.
    </div>
    <div class="clear"></div>

    <a href="<%= member_area_agreement_path -%>">
    <div class="green_button">
      Loan<br />Agreement
    </div>
    </a>
    <div class="green_button_explanation">
      Sign and view your current loan agreement.
    </div>
    <div class="clear"></div>

    <a href="<%= member_area_history_path -%>">
    <div class="green_button">
      Loan<br />History
    </div>
    </a>
    <div class="green_button_explanation">
      View current and past loans, including payment history.
    </div>
    <div class="clear"></div>

    <a href="<%= member_area_scheduled_payments_path -%>">
    <div class="green_button">
      Scheduled<br />Payments
    </div>
    </a>
    <div class="green_button_explanation">
      View the scheduled payments for your current loan.
    </div>
    <div class="clear"></div>
  </div>

  <div style="float:left;margin-top:10px;width:48%;border-left:2px solid #aaa;min-height:260px;padding-left:10px">
    <div style="float:left;font-weight:bold">
      <%= current_customer.full_name %>
    </div>
    <div style="float:right;font-weight:bold;font-size:10px;text-align:center;background:#f5f5f5;border:1px solid #aaa;padding:2px 2px 2px 2px">
      CREDIT LIMIT<br />
      <%= number_to_currency(current_customer.credit_limit, :precision => 0) %>
    </div>
    <div class="clear"></div>

    <div style="font-weight:bold;color:red;text-align:center;margin:20px 0 20px">
      <%= loan_status_alert(@loan) %>
    </div>

    <fieldset id ="current_loan_status" style="margin:0">
      <legend>Current Loan</legend>
      <p>
        <label style="width:150px">Status:</label>
        <%= loan_status(@loan) %>
      </p>
      <p>
        <label style="width:150px">Loan Date:</label>
        <%= loan_date(@loan).to_s(:sm_d_y) %>
      </p>
      <% if ['active','collections','garnishments'].include? @loan.aasm_state %>
      <p>
        <label style="width:150px">Due Date:</label>
        <%= @loan.due_date.to_s(:sm_d_y) %>
      </p>
      <p>
        <label style="width:150px">Payoff When Due:</label>
        <%= number_to_currency(@loan.payoff_amount_on(@loan.due_date)) %>
      </p>
      <p>
        <label style="width:150px">Payoff Today:</label>
        <%= number_to_currency(@loan.payoff_amount) %>
      </p>
      <% end %>
    </fieldset>
  </div>
  <div class="clear"></div>
</div>