<% content_for :head do %>
<%= javascript_include_tag 'jquery.inplace','jquery.livequery' %>
<script type="text/javascript">
var edit_principal_shown = false;
var principal_value_before_edit = null;

function KeyCheck(e)
{
  var KeyID = (window.event) ? event.keyCode : e.keyCode;
  switch(KeyID) {
    case 27:
      if (edit_principal_shown) {
        id = $('#id').val();
        $('#principal_'+id).html(principal_value_before_edit);
        edit_principal_shown = false;
      }
      break;
  }
}

$(document).ready(function() {
  
  $('.edit_principal').click(function() {
    if (!edit_principal_shown) {
      id = $(this).attr('id').split('_')[1];
      principal_value_before_edit = $('#principal_'+id).html();
      $.get('/member_area/edit_principal_form','id='+id,function(html) {
        $('#principal_'+id).html(html);
        $('#principal_field').focus().select();
      });
      edit_principal_shown = true;
    }
    return false;
  });
    


  $('#edit_principal_form').livequery('submit',function(event) {
    id = $('#id').val();
    principal = $('#principal_field').val();
    $.post('/member_area/set_payment_principal/'+id,'principal='+principal,function(amounts) {
      amount_array = amounts.split(',');
      amount = amount_array[0];
      principal = amount_array[1];
      $('#amount_'+id).html(amount);
      $('#principal_'+id).html(principal);
      edit_principal_shown = false;
      window.location.reload(true);
    });
    return false;
  });

  document.onkeyup = KeyCheck;
});



</script>
<% end %>
<h2>Scheduled Payments</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Account</th>
      <th>Principal</th>
      <th>Interest</th>
      <th>Fees</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for sp in current_customer.scheduled_payments %>
      <% @scheduled_payment = sp %>
    <tr>
      <td nowrap style="padding:5px 0 0 20px"><%= sp.draft_date.to_s(:sm_d_y) -%></td>
      <td id="amount_<%= sp.id -%>" style="padding:5px 0 0 20px"><%= number_to_currency(sp.amount, :precision => 2) -%></td>
      <td style="padding:5px 0 0 20px"><%= sp.payment_account.account.description -%></td>
      <td id="principal_<%= sp.id -%>" <% if sp.aasm_state == 'scheduled' %>class="edit_principal"<% end %> style="padding:5px 0 0 20px"><%#= in_place_editor_field :scheduled_payment, :principal, {}, {:value_required => true} -%> <%= number_to_currency(sp.principal, :precision => 2) -%></td>
      <td id="interest_<%= sp.id -%>" style="padding:5px 0 0 20px"><%= number_to_currency(sp.interest, :precision => 2) -%></td>
      <td id="fees_<%= sp.id -%>" style="padding:5px 0 0 20px"><%= number_to_currency(sp.fees, :precision => 2) -%></td>
      <td style="padding:5px 0 0 5px">
        <% if sp.aasm_state == 'scheduled' %>
          <a id="pencil_<%= sp.id -%>" class="edit_principal" href="#" title="Edit Principal"><img src="/images/icons/pencil.png" /></a>
          <a  href="/member_area/cancel_scheduled_payment/<%= sp.id -%>" id="cancel_<%= sp.id -%>" class="cancel-scheduled-payment" style="margin-left:10px" title="Cancel"><img src="/images/icons/cross_circle.png" style="margin-top:6px"/></a>
        <% else %>
          <img src="/images/icons/hammer_screwdriver.png" title="Processing"/>
        <% end %>
      </td>
    </tr>
    <% end %>
    <!-- Anticipated Final Payment -->
    <% amounts = @loan.amounts_owed_on_date_assuming_scheduled_payments(@loan.due_date) %>
    <% if amounts[:total] > 0 %>
    <tr>
      <td nowrap style="padding:5px 0 0 20px"><%= @loan.due_date.to_s(:sm_d_y) -%></td>
      <td style="padding:5px 0 0 20px"><%= number_to_currency(amounts[:total], :precision => 2) -%></td>
      <td style="padding:5px 0 0 20px"><%= current_customer.default_payment_account.account.description -%></td>
      <td style="padding:5px 0 0 20px"><%= number_to_currency(amounts[:principal], :precision => 2) -%></td>
      <td style="padding:5px 0 0 20px"><%= number_to_currency(amounts[:interest], :precision => 2) -%></td>
      <td style="padding:5px 0 0 20px"><%= number_to_currency(amounts[:fees], :precision => 2) -%></td>
      <td style="padding:5px 0 0 5px"></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to('Make A Payment', member_area_payments_path) %>
</p>
<p>
  <span style="color:red">NOTE:</span> If you cancel a scheduled payment that is associated with a loan extension the due date will be reset
  to the due date as it was prior to that extension.  All subsequent scheduled payments that were the result of an
  extension will also be cancelled.
</p>