<div id="documents_block">
	<script type="text/javascript">
      function showUpload() {
	  	if (document.getElementById('upload_block').style.display == 'none') {
			$('#upload_block').show();
		}else{
			$('#upload_block').hide();
		}
	}
	</script>
	<div >
  <div style="float: right; padding-bottom: 10px; margin-top: -10px;">
    <a href="" onclick="showUpload();return false;">Upload Document</a>
  </div>
  </div>
<div class="clear"></div>
<div id="upload_block" style="display:none;width:30%;height:300px;padding-left:10px;padding-right:15px;">
  <% form_for(:document,:url => {:controller => 'documents', :action => 'create'},:html => { :multipart => true }) do |f| -%>

    <p>
      <label for="document">Upload A Document:</label>
      <%= f.file_field :uploaded_data %>
    </p>
    <p>
           <%= f.label :owner_type, 'Owner:' %>
           <%= f.select :owner_type, ['Customer','Loan'] %>
    </p>
    <p>
          <%= f.label :description, 'Description:' %>
          <%= f.text_area :description, :rows => 2, :cols => 2 %>
    </p>
    <p>
          <%= f.hidden_field :loan_id, :value => @loan.id %>
      <%= submit_tag 'Create' %>
    </p>
  <% end -%>
</div>

  <table>
    <thead>
            <tr>
               <th></th>
               <th>File Name</th>
               <th>File Type</th>
               <th>Description</th>
               <th></th>
            </tr>
    </thead>
    <tfoot>
            <tr>
                    <td colspan="4">
                            <div class="clear"></div>
                    </td>
            </tr>
    </tfoot>
    <tbody>
      <% if @loan.approved_at %>
      <tr>
        <td><%= link_to(image_tag("export_to_pdf.png",:title => "TILA in PDF format", :alt => 'PDF'), { :controller => :loans, :action => :tila_pdf, :id => @loan.id}) -%> </td>
        <td style="vertical-align:top">tila.pdf</td>
        <td style="vertical-align:top">application/pdf</td>
        <td style="vertical-align:top">Truth In Lending Agreement</td>
        <td class="icons" style="vertical-align:top">
          <%#= link_to(image_tag("icons/cross.png", :title => "Delete", :alt => "Delete")) %>
          <%= link_to(image_tag("download.png",:width=>"16px",:height=>"16px;",:border=>"none",:alt=>"Download",:title=>"Download"), { :controller => :loans, :action => :tila_pdf, :id => @loan.id}) %>
        </td>
      </tr>
      <% end %>
      <% @documents.each do |document| %>
        <tr>
                <td>
                        <%if document.content_type == 'image/jpeg'%>
                                <%= link_to image_tag(document.public_filename(:thumb),:width=>"40px",:height=>"40px;",:border => 0), document.public_filename %>
                        <%else%>
                                <%= link_to image_tag("no-image-available.png",:width=>"40px",:height=>"40px;",:border => 0), document.public_filename %>
                        <%end%>
                </td>

                <td style="vertical-align:top"><%= document.filename %></td>
                <td style="vertical-align:top"><%= document.content_type %></td>
                <td style="vertical-align:top"><%= document.description %></td>
                <td nowrap class="icons" style="vertical-align:top">
                  <%= link_to(image_tag("icons/cross.png", :title => "Delete", :alt => "Delete"), { :controller => 'documents', :action => 'destroy', :id => document.id, :loan_id => @loan.id} , :method => :delete, :confirm => "Are you sure?") %>
                  <%= link_to image_tag("download.png",:width=>"16px",:height=>"16px;",:border=>"none",:alt=>"Download",:title=>"Download"), document.public_filename %>
                </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
