<%# content_for :head do %>
  <%= stylesheet_link_tag 'facebox', 'custom' %>
  <script type="text/javascript">
    $(document).ready(function() {
      //$.facebox.settings.opacity = 0.5;
      //$.facebox.settings.width = 500;
      //$('a[rel*=facebox]').facebox() ;
    });
  </script>
<%# end %>

<div class="modal-content">
  <h3>Employer Information</h3>
<table style="margin:20px;font-size:14px;color:#000;" cellpadding="5">
  <tbody>
    <tr>
      <td style="width:160px;font-weight:bold">Employer:</td>
      <td><%= @customer.employer_name %></td>
    </tr>
    <tr>
      <td style="width:160px;font-weight:bold">Employer Address:</td>
      <td><%= @customer.employer_address %></td>
    </tr>
    <tr>
      <td style="width:160px;font-weight:bold">Employer City:</td>
      <td><%= @customer.employer_city %></td>
    </tr>
    <tr>
      <td style="width:160px;font-weight:bold">Employer State:</td>
      <td><%= @customer.employer_state %></td>
    </tr>
    <tr>
      <td style="width:160px;font-weight:bold">Employer ZIP:</td>
      <td><%= @customer.employer_zip %></td>
    </tr>
    <tr>
      <td style="width:160px;font-weight:bold">Employer Phone:</td>
      <td><%= @customer.employer_phone.using '###-###-####' %></td>
    </tr>
    <tr>
      <td style="width:150px;font-weight:bold">Employer Phone Ext:</td>
      <td><%= @customer.employer_phone_ext %></td>
    </tr>
    <tr>
      <td style="width:160px;font-weight:bold">Employer Fax:</td>
      <td><%= @customer.employer_fax.using '###-###-####' %></td>
    </tr>
    <tr>
      <td style="width:160px;font-weight:bold">Supervisor Name:</td>
      <td><%= @customer.supervisor_name %></td>
    </tr>
    <tr>
      <td style="width:160px;font-weight:bold">Supervisor Phone:</td>
      <td><%= @customer.supervisor_phone.using '###-###-####' %></td>
    </tr>
    <tr>
      <td style="width:160px;font-weight:bold">Supervisor Phone Ext:</td>
      <td><%= @customer.supervisor_phone_ext %></td>
    </tr>
  </tbody>
</table>
</div>

<!--
<div>
<ul style="width: 350px;margin-right: 10px;color: #555555;margin: 10px;padding: 5px;font-size: 14px;color: #000;">
  <li style="height:5px;padding:10px;">
    <label style="font-weight: bold;width:150px;">Employer:</label>
    <%#= @employer_information.employer_name %>
  </li>
  
  <li style="height:5px;padding:10px;">
    <label style="font-weight: bold;width:150px;">Employer Address:</label>
    <%#= @employer_information.employer_address %>
  </li>
  <li style="height:5px;padding:10px;">
    <label style="font-weight: bold;width:150px;">Employer City:</label>
    <%#= @employer_information.employer_city %>
  </li>
  <li style="height:5px;padding:10px;">
    <label style="font-weight:bold;width:150px;">Employer State:</label>
    <%#= @employer_information.employer_state %>
  </li>
  <li style="height:5px;padding:10px;">
    <label style="font-weight:bold;width:150px;">Employer ZIP:</label>
    <%#= @employer_information.employer_zip %>
  </li>
  <li style="height:5px;padding:10px;">
    <label style="font-weight:bold;width:150px;">Employer Phone:</label>
    <%#= @employer_information.employer_phone  %>
  </li>
  <li style="height:5px;padding:10px;">
    <label style="font-weight:bold;width:150px;">Employer Phone Ext:</label>
    <%#= @employer_information.employer_phone_ext  %>
  </li>
 
</ul>
</div>
-->
 