  <table>
    <thead>
      <tr>
        <th class="first">Loan</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Score</th>
        <th>Source</th>
        <th>Due Date</th>
        <th>TILA</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for prev_loan in customer.loans %>
      <tr>
        <td class="first" style="text-align:left"><%= prev_loan.id -%></td>
        <td style="text-align:left"><%= number_to_currency(prev_loan.signature_page_loan_amount, :precision => 0) -%></td>
        <td><%= prev_loan.created_at.to_s(:sm_d_y) -%></td>
        <td>
          <%= factor_trust = nil %>
          <% factor_trust = prev_loan.customer.factor_trust.application_response['ApplicationResponse']['ApplicationInfo'] if prev_loan.customer.factor_trust %>
          <% if factor_trust %>
          FT: <%= factor_trust['LendProtectScore'] %>
          <% end %>
        </td>
        <td><%= truncate(prev_loan.customer.lead_source, :length => 20) -%></td>
        <td><%= prev_loan.due_date.to_s(:sm_d_y) -%></td>
        <td style="text-align:center"><a target="_tila" href="/loans/<%= prev_loan.id -%>/tila"><%= image_tag 'icons/page.gif' -%></a></td>
        <td><%= prev_loan.aasm_state.capitalize %></td>
        <td><%= link_to('Loan Activity', {:action => :loan_activity, :id => prev_loan.id}, :rel => 'facebox') -%> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
