	<p>
	  <%= f.label :name, "Filter Name" %>
		<%= f.text_field :name, :class => "text-input long-input" %>
	</p>
	
	<p>
	  <%= f.label :minimum_months_at_job, "Minimum Months at Job" %>
	  <%= f.select :minimum_months_at_job, (0..12).map{|i|[pluralize(i, "month"), i]}, {}, { :class => "medium-input" } %>
	</p>
	
	<p>
	  <%= f.label :minimum_months_at_bank, "Minimum Months at Bank" %>
	  <%= f.select :minimum_months_at_bank, (0..12).map{|i|[pluralize(i, "month"), i]}, {}, { :class => "medium-input" } %>
	</p>
	
	<p>
	  <%= f.label :minimum_age, "Minimum Age" %>
		<%= f.text_field :minimum_age, :class => "text-input tiny-input" %> years
	</p>
	
	<p>
	  <label>Acceptable Pay Frequencies</label>
	  <%= f.check_box :allow_pay_frequency_weekly %> Weekly&nbsp;&nbsp;&nbsp;
		<%= f.check_box :allow_pay_frequency_biweekly %> Bi-Weekly&nbsp;&nbsp;&nbsp;
		<%= f.check_box :allow_pay_frequency_monthly %> Monthly&nbsp;&nbsp;&nbsp;
		<%= f.check_box :allow_pay_frequency_twice_per_month %> Twice per Month
	</p>
	
	<p>
	  <label>Acceptable Income Types</label>
		<%= f.check_box :allow_payroll_type_cash %> Cash&nbsp;&nbsp;&nbsp;
		<%= f.check_box :allow_payroll_type_check %> Check&nbsp;&nbsp;&nbsp;
		<%= f.check_box :allow_payroll_type_direct_deposit %> Direct Deposit&nbsp;&nbsp;&nbsp;
		<%= f.check_box :allow_payroll_type_benefits %> Benefits
	</p>
	
	<p>
	  <%= f.label :minimum_factor_trust_score, "Minimum FactorTrust Score" %>
		<%= f.text_field :minimum_factor_trust_score, :class => "text-input tiny-input" %> (typically 650)
	</p>

	<p>
		<input class="button" type="submit" value="Save" />
		or <%= link_to "Cancel", lead_filters_path %>
	</p>

<div class="clear"></div><!-- End .clear -->
