<% content_for :head do %>
<%= javascript_include_tag :fckeditor %>
<script type="text/javascript">

  function limitText(limitNum) {
    limitField = document.getElementById("message_template_sms_body");
    limitCount = document.getElementById("countdown");
    if (limitField.value.length > limitNum) {
      limitField.value = limitField.value.substring(0, limitNum);
    } else {
      limitCount.value = limitNum - limitField.value.length;
    }
  }

  function onlyNumbersAllows(evt)
  {
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
    else
      return true;
  }
  
  function set_point_in_time_disabled_state(is_disabled) {
      $('#message_template_days').attr('disabled',is_disabled);
      $('#message_template_sent_before_after').attr('disabled',is_disabled);
      $('#message_template_base_date').attr('disabled',is_disabled);
      $('#message_template_days').attr('disabled',is_disabled);
      $('#message_template_sent_time').attr('disabled',is_disabled);
      $('#day_time').attr('disabled',is_disabled);
      if (is_disabled) {
        $('#delivery_info').fadeTo('fast',0.5);
      } else {
        $('#delivery_info').fadeTo('fast',1.0);
      }
  }

  function set_trigger_event_disabled_state(is_disabled) {
    $('#message_template_aasm_state').attr('disabled',is_disabled);
    if (is_disabled) {
      $('#loan_status').fadeTo('fast',0.5);
    } else {
      $('#loan_status').fadeTo('fast',1.0);
    }
  }

  $(document).ready(function() {

    $('#message_template_send_schedule_flag_manual').click(function () {
      set_point_in_time_disabled_state(true);
      set_trigger_event_disabled_state(true);
    });

    $('#message_template_send_schedule_flag_point_in_time').click(function() {
      set_point_in_time_disabled_state(false);
      set_trigger_event_disabled_state(true);
    });

    $('#message_template_send_schedule_flag_trigger_event').click(function() {
      set_point_in_time_disabled_state(true);
      set_trigger_event_disabled_state(false);
    });

    $('#message_template_aasm_state').change(function() {
      checked = $(this).val();
      if(checked == 'Underwriting')
      {
        $('#message_event').show();
      }
      else
      {
        $('#message_event').hide();
      }
    });

    <% if @message_template.send_schedule_flag == MessageTemplate::MANUAL %>
      set_point_in_time_disabled_state(true);
      set_trigger_event_disabled_state(true);
    <% end %>

    <% if @message_template.send_schedule_flag == MessageTemplate::POINT_IN_TIME %>
      set_point_in_time_disabled_state(false);
      set_trigger_event_disabled_state(true);
    <% end %>

    <% if @message_template.send_schedule_flag == MessageTemplate::TRIGGER_EVENT %>
      set_point_in_time_disabled_state(true);
      set_trigger_event_disabled_state(false);
    <% end %>


  });
</script>
<% end %>

<%= error_messages_for :message_template %>
<fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->

  <% @before_after = [ 'Before', 'After'] %>
  <% @base_date = [['Created',Loan::CREATED_ON],["Paid In Full",Loan::PAID_IN_FULL_ON],["Due Date",Loan::DUE_DATE],['Funded',Loan::FUNDED_ON],['Sent To Collections',Loan::COLLECTIONS_ON],['Sent To Garnishments',Loan::GARNISHMENTS_ON]] %>
  <% @hours = [1,2,3,4,5,6,7,8,9.10,11,12] %>
  <% @sent_daytime = [["AM","AM"],["PM","PM"]] %>

  <div id="message_category">
    <%= f.label :message_categories_id, "Message Category" %>
    <%= f.select :message_category_id,  MessageCategory.all.collect {|p| [ p.name, p.id ] }, {}, {:style=>"width:190px;" } %>
  </div>

  <div style="height:15px;"></div>

  <div id="name" style="width: 60% !important">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, :class => "text-input long-input" %>
  </div>
  <div style="height:15px;"></div>

  <div id="send_schedule">
    <%= f.label :send_schedule_flag, "Message Delivery" %>
    <%= f.radio_button( :send_schedule_flag, MessageTemplate::MANUAL, :checked => @message_template.send_schedule_flag == MessageTemplate::MANUAL) %> Manual<br /><br />
    <%= f.radio_button( :send_schedule_flag, MessageTemplate::POINT_IN_TIME,:checked => @message_template.send_schedule_flag == MessageTemplate::POINT_IN_TIME )%> Point In Time&nbsp;&nbsp;
  </div>
   <div id="delivery_info" style="width: 800px;margin-left: 50px;">
    Automatically send this text message
    <%= f.text_field :days, :class => "text-input long-input", :maxlength => 2, :style=>"width: 2.2% !important", :onkeypress => "return onlyNumbersAllows(event);" %>
    days
    <%= f.select :before_after, @before_after, :class => "text-input long-input",:style=>"width: 4% !important" %>
    &nbsp;
    <%= f.select :base_date, @base_date, :class => "text-input long-input",:style=>"width: 5% !important" %>
    &nbsp;at&nbsp;
    <%= f.select :hour_12, @hours, :class => "text-input long-input",:style=>"width: 3% !important" %>
    &nbsp;
    <%= f.select :am_pm, ['AM','PM'], :class => "text-input long-input",:style=>"width: 3% !important" %>


  </div>
  <div>
    <%= f.radio_button( :send_schedule_flag, MessageTemplate::TRIGGER_EVENT, :checked => @message_template.send_schedule_flag == MessageTemplate::TRIGGER_EVENT)%> Trigger
  </div>
  <div id="loan_status" style="width: 800px;margin-left: 50px;">
    When a <%= f.select :msg_event,Loan::MESSAGE_TRIGGER_EVENTS , { }, {:style=>"width:190px;" } %> event occurs
  </div>

  <div style="height:15px;"></div>

  <div>
    <%= f.label :required_aasm_state, 'Required Loan State' %>
    <%= f.select :required_aasm_state, Loan.aasm_states.collect { |state| state.name.to_s }, { :include_blank => true} %>
  </div>

  <div style="height:15px;"></div>

  <div id="roles">
    <%= f.label :roles, 'Available To Roles' %>
    <span><%= f.check_box :underwriting %> Underwriting</span>
    <span style="margin-left:10px"><%= f.check_box :collections %> Collections</span>
    <span style="margin-left:10px"><%= f.check_box :garnishments %> Garnishments</span>
  </div>
  <div id="sms_body1" style="margin-top: 10px;width: 675px;height: 120px;">
      <%= f.label :sms_body, "SMS body" %>
      <%= f.text_area :sms_body, :rows => 5, :class => "text-input long-input",:onKeyDown=>"limitText(160);",:onKeyUp=>"limitText(160);", :style => "width:675px;height:60px;" %>
      <%if @message_template.sms_body.nil? %>
          <%  @leftchar = 160 - 0 %>
      <% else %>
          <%  @leftchar = 160 - @message_template.sms_body.length %>
      <% end %>
      (Maximum characters: 160) you have <input readonly type="text" id="countdown" name="countdown" size="3" value="<%=@leftchar %>"</input> characters left.
  </div>

  <div id="content_type">
    <%= f.label :content_type, "Email Content-Type" %>
    <%= f.select :content_type, MessageTemplate::CONTENT_TYPES, { }, { :style=>"width:190px;" } %>
  </div>

  <div style="height:15px;"></div>
  <div id="subject" style="width: 60% !important">
    <%= f.label :subject, "Subject" %>
    <%= f.text_field :subject, :class => "text-input long-input" %>
  </div>
  <div style="height:15px;"></div>

   <div id="email_body1" style="width: 675px;">
        <%= f.label :email_body, "Email body" %>
        <%= fckeditor_textarea :message_template, :email_body,:toolbarSet => 'Basic', :width => '100%', :height => '300px', :style => "float:left;" %>
   </div>

  <div style="width:900px;">

      <div id="placeholders" style="font-weight:bolder;">
        Allowed Placeholders:<br/><br/>
        <% for placeholder in MessageTemplate::PLACEHOLDER_ARRAY %>
        <strong><%= placeholder -%> </strong><br/>
        <% end %>
      </div>
  </div>

  <div style="height:15px;"></div>

  <div style="float: left;width:700px;">
    <input class="button" type="submit" value="Save" />
		or <%= link_to "Cancel", message_templates_path %>
  </div>
</fieldset>

<div class="clear"></div><!-- End .clear -->
