<html>
  <head>
    <title>Posting Instructions for Payday Loan Tracker</title>
    <%= stylesheet_link_tag 'api' %>
    <%= syntax_css("dawn") %>
    <%= javascript_include_tag "jquery-1.3.2.min", "simpla.jquery.configuration" %>
  </head>
  <body>

    <h1>Posting Instructions for Payday Loan Tracker</h1>

    <p>
      This staging area is for <strong>instructional and testing purposes only</strong>.  <span style="color: red; font-style: italic;">No data will be captured or stored by the system</span>. Post your data to this staging area to verify your integration with the system is correct. Once your data posts correctly on this page, contact your representative for a final post to the LIVE posting url with the is_test flag set to "0" and for final approval. Data may be submitted via Form Post or Query String.
    </p>

    <%= display_flash(flash) %>

    <fieldset>
      <legend>Field Information</legend>

      <table width="100%">
        <tr>
          <th>Field Name</th>
          <th>Data Received</th>
          <th>Required?</th>
          <th>Max Length</th>
          <th>Notes</th>
        </tr>
        <tr>
          <td>username</td>
          <td><%= @lead_provider.username unless @lead_provider.nil? %></td>
          <td><span style="color: red;">Required</span></td>
          <td>&nbsp;</td>
          <td>Provided by Payday Loan Tracker</td>
        </tr>
        <tr>
          <td>password</td>
          <td><%= @lead_provider.username unless @lead_provider.nil? %></td>
          <td><span style="color: red;">Required</span></td>
          <td>&nbsp;</td>
          <td>Provided by Payday Loan Tracker</td>
        </tr>
        <% Customer.requirements.each do |req| %>
          <tr class="<%= @customer.errors.invalid?(req[0]) ? "error" : "" %>">
            <td><%= req[0].to_s %></td>
            <% if req[0].to_s == "dl_number" %>
              <td><%= @customer.encrypted_dl_number %></td>
            <% elsif req[0].to_s == "bank_account_number" %>
              <td><%= @customer.bank_account_number %></td>
            <% elsif req[0].to_s == "bank_aba_number" %>
              <td><%= @customer.bank_aba_number %></td>
            <% elsif req[0].to_s == "bank_direct_deposit" %>
              <td><%= @customer.bank_direct_deposit == true ? 'y' : (@customer.bank_direct_deposit == false ? 'n' : nil) %></td>
            <% else %>
              <td><%= @customer[req[0]] %></td>
            <% end %>
            <td><%= req[1] ? "<span style=\"color: red;\">Required</span>" : "" %></td>
            <td><%= req[2] %></td>
            <td><%= req[3] %></td>
          </tr>
        <% end %>
      </table>
    </fieldset>
    
    <fieldset>
      <legend>Additional Information</legend>
      <ul>
        <li>Next payday must be tomorrow or later.  This date must also not fall on a holiday or weekend.</li>
        <li>Bank ABA/Routing number must start with the numbers 0, 1, 2 or 3</li>
      </ul>
    </fieldset>
    
    <fieldset style="padding: 0px 10px;">
      <legend>Responses</legend>
      
      <h3>Accepted Response</h3>
      <p>If all of the fields are properly formatted, and pass all validations, we will try to acquire a loan for this user. If we are able to successfully acquire a loan for this user, a URL will be returned in the &lt;url&gt; tag.  You must immediately redirect the user to this URL. A lead is not considered accepted unless the &lt;status&gt; is ACCEPTED AND a URL is returned in the &lt;url&gt;.</p>
      <%= code(Customer::ACCEPTED_RESPONSE_EXAMPLE, :lang => "xml", :theme => "dawn", :line_numbers => false) %>
      
      <h3>Rejected Response</h3>
      <p>If we are unable to place the lead, you will receive a simple rejection message.</p>
      <%= code(Customer::REJECTED_RESPONSE_EXAMPLE, :lang => "xml", :theme => "dawn", :line_numbers => false) %>
      
      <h3>Disabled Account</h3>
      <p>If your account is disabled, you will get a DISABLED response. Contact your Payday Loan Tracker representative to re-enable your account.</p>
      <%= code(Customer::DISABLED_RESPONSE_EXAMPLE, :lang => "xml", :theme => "dawn", :line_numbers => false) %>
      
      <h3>Disabled Account</h3>
      <p>If the request is invalid due to a violation of the data requirements or a technical problem on the Payday Loan Tracker servers, a detailed error message will be returned.  Each invalid field will show up in it's own &lt;error&gt; tag inside of the &lt;errors&gt; tag.</p>
      <%= code(Customer::ERROR_RESPONSE_EXAMPLE, :lang => "xml", :theme => "dawn", :line_numbers => false) %>
      
    </fieldset>
    
    <div align="center"><%= link_to "Top", "#top" %></div>
  
  </body>
</html>
