<%= error_messages_for :user %>
<fieldset class="column-left">
  <p>
    <%= f.label :first_name, "First Name" %>
  	<%= f.text_field :first_name, :class => "text-input medium-input" %>
  </p>
  <p>
    <%= f.label :last_name, "Last Name" %>
  	<%= f.text_field :last_name, :class => "text-input medium-input" %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %>
  	<%= f.text_field :email, :class => "text-input long-input" %>
  </p>
  <p>
    <%= f.label :role, "Role" %>
  	<%= f.select :role, User::ROLES.map{|r|[r.capitalize, r]}, {:include_blank => true}, { :class => "text-input medium-input" } %>
  </p>
  <p>
    <%= f.label :team_id, "Team" %>
  	<%= f.select :team_id, Team.find(:all, :order => 'name').collect { |team| [team.name,team.id]}, {:include_blank => true}, { :class => "text-input medium-input" } %>
  </p>
  <p>
    <%= f.check_box :manager %> Manager
  </p>
  <p>
    <%= f.check_box :available %> Available
  </p>
  <p>
    <%= f.check_box :reset_password_at_next_login %> Reset Password At Next Login
  </p>
  <p>
    <%= f.check_box :login_suspended %> Login Suspended
  </p>
  <p>
    <%= f.label :locations, "Allowable Login Locations" %>
  	<%#= f.select :locations, Location.find(:all, :order => 'name').collect {|loc|[loc.name, loc]}, {:include_blank => false }, { :multiple => true, :size => 5, :class => "text-input medium-input" } %>
        <%= select_tag("location_ids[]",
          options_for_select(Location.find(:all,:order => "name").collect { |loc| [loc.name, loc.id] }, @user.locations.collect {|loc| loc.id }), {:multiple => true, :size => 5, :class => "text-input medium-input"}) %>
  </p>
  <p>
  	<input class="button" type="submit" value="Save Changes" />
  	or <%= link_to "Cancel", users_path %>
  </p>
</fieldset>
<fieldset class="column-right">
  <p>
    <%= f.label :username, "Username" %>
  	<%= f.text_field :username, :class => "text-input medium-input" %>
  </p>
  <p>
    <%= f.label :password, "Password" %>
  	<%= f.password_field :password, :class => "text-input medium-input", :value => "        " %>
  </p>
  <p>
    <%= f.label :password, "Password Confirmation" %>
  	<%= f.password_field :password_confirmation, :class => "text-input medium-input", :value => "        " %>
  </p>
</fieldset>

<div class="clear"></div><!-- End .clear -->
