          <ul id="main-nav">  <!-- Accordion Menu -->

            <li><%= link_to "Dashboard", root_path, :class => "nav-top-item no-submenu #{controller.controller_name == 'dashboard' ? 'current' : ''}" %></li>
            <li>
              <%= link_to "Loans", "#", :class => "nav-top-item #{(["loans", "customers"].include? controller.controller_name) ? 'current' : ''}" %>
              <ul>
                <li>
                  <%= link_to "Loan List", loans_path,
                    :class => (((["index"].include? controller.action_name) &&
                        (["loans"].include? controller.controller_name)) ? "current" : "") %>
                </li>
                <li>
                  <%= link_to "Add a new Customer", new_customer_path,
                    :class => (((["new"].include? controller.action_name) &&
                        (["customers"].include? controller.controller_name)) ? "current" : "") %>
                </li>
              </ul>
            </li>
            <li><%= link_to "Teams", "#", :class => "nav-top-item #{(["teams"].include? controller.controller_name) ? 'current' : ''}"  %>
              <ul>
                <li><%= link_to "Teams", teams_path,
                    :class => ((["teams"].include? controller.controller_name) ? "current" : "") %></li>
              </ul>
            </li>
            <!--<li><%#= link_to "Transactions", root_path, :class => "nav-top-item" %></li>-->

            <li><%= link_to "Reports", "3", :class => "nav-top-item #{controller.controller_name == 'reports' ? 'current' : ''}" %>
              <ul>

                <li>
                  <%= link_to "Marketing", marketing_path,
                    :class => (((["marketing"].include? controller.action_name) &&
                        (["reports"].include? controller.controller_name)) ? "current" : "") %>
                </li>
                <li>
                  <%= link_to "Portfolio", portfolio_path,
                    :class => (((["portfolio"].include? controller.action_name) &&
                        (["reports"].include? controller.controller_name)) ? "current" : "") %>
                </li>
                <li>
                  <%= link_to "Financial", financial_path,
                    :class => (((["financial"].include? controller.action_name) &&
                        (["reports"].include? controller.controller_name)) ? "current" : "") %>
                </li>
                <li>
                    <%= link_to "Performance", performance_path,
                      :class => (((["performance"].include? controller.action_name) &&
                          (["reports"].include? controller.controller_name)) ? "current" : "") %>
                </li>
                <li>
                  <%= link_to "Investors", investors_path,
                    :class => (((["investors"].include? controller.action_name) &&
                        (["reports"].include? controller.controller_name)) ? "current" : "") %>
                </li>
                <li>
                    <%= link_to "Reminders", reminders_report_path,
                      :class => (((["reminders"].include? controller.action_name) &&
                          (["reports"].include? controller.controller_name)) ? "current" : "") %>
                </li>
                
              </ul>
            </li>

            <li>
              <%= link_to "Settings", "#",
                :class => "nav-top-item #{(["users", "locations","states","countries","high_risk_bank_branches","admin_portfolios"].include? controller.controller_name) ? 'current' : ''}" %>
              <ul>
                <li><%= link_to "Locations", locations_path,
                    :class => ((["locations"].include? controller.controller_name) ? "current" : "") %></li>
                <li><%= link_to "High Risk Branches", high_risk_bank_branches_path,
                    :class => ((["high_risk_bank_branches"].include? controller.controller_name) ? "current" : "") %></li>
                <li><%= link_to "User Accounts", users_path,
                    :class => ((["users"].include? controller.controller_name) ? "current" : "") %></li>
                <li><%= link_to "Portfolios", admin_portfolios_path,
                    :class => ((["admin_portfolios"].include? controller.controller_name) ? "current" : "") %></li>
                <li><%= link_to "Countries", countries_path,
                    :class => ((["countries"].include? controller.controller_name) ? "current" : "")%></li>
                <li><%= link_to "States", states_path,
                    :class => ((["states"].include? controller.controller_name) ? "current" : "") %>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to "Leads", "#",
                :class => "nav-top-item #{(["lead_filters", "lead_providers"].include? controller.controller_name) ? 'current' : ''}" %>
              <ul>
                <li><%= link_to "Lead Submission Filters", lead_filters_path,
                    :class => ((["lead_filters"].include? controller.controller_name) ? "current" : "") %></li>
                <li><%= link_to "Lead Providers", lead_providers_path,
                    :class => ((["lead_providers"].include? controller.controller_name) ? "current" : "") %></li>
              </ul>
            </li>
            <li>
              <%= link_to "Messaging", "#",
                :class => "nav-top-item #{(["message_categories", "message_templates"].include? controller.controller_name) ? 'current' : ''}" %>
              <ul>
                <li><%= link_to "Message Categories",message_categories_path,
                    :class=>((["message_categories"].include? controller.controller_name) ? "current" : "")%></li>
                <li><%= link_to "Message Templates", message_templates_path,
                    :class => ((["message_templates"].include? controller.controller_name) ? "current" : "") %></li>
              </ul>
            </li>
            <li><%= link_to "ACH", root_path, :class => "nav-top-item" %></li>
            <!--<li><%#= link_to "Help", root_path, :class => "nav-top-item" %></li>-->

          </ul> <!-- End #main-nav -->
