<% if current_user.is_underwriter? && customer.pending_approval? %>
  <div style="float: right; padding-bottom: 10px; margin-top: -10px;">
    <div id="verify_employment_status"></div>
  </div>
  <script type="text/javascript">
    $('#verify_employment_status').iphoneSwitch('<%= customer.verified_employment == 0 ? "off" : "on" %>',
      function() { 
        $.ajax({
         type: "POST",
         url: "/customers/<%= customer.id %>/update_validation_status",
         data: "t=employment&v=1"
       });
      },
      function() { 
        $.ajax({
         type: "POST",
         url: "/customers/<%= customer.id %>/update_validation_status",
         data: "t=employment&v=0"
       });
      },
      { switch_on_container_path: '/images/iphone_switch/iphone_switch_container_off.png' }
    );
  </script>
  <div class="clear"></div>
<% end %>

<ul class="show_details">
  <li class="<%= cycle('odd','even') %>">
    <label>Employer:</label>
    <%= in_place_editor_field :customer, :employer_name, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Employer Address:</label>
    <%= in_place_editor_field :customer, :employer_address, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Employer City:</label>
    <%= in_place_editor_field :customer, :employer_city, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Employer State:</label>
    <%= in_place_editor_field :customer, :employer_state, { :style => "padding-right: 100px;" }, 
        { :field_type => 'select', :value_required => true, :select_options => Common::US_STATES.sort.map{|k,v|"#{k} - #{v}:#{k}"} } %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Employer ZIP:</label>
    <%= in_place_editor_field :customer, :employer_zip, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Months Employed:</label>
    <%= in_place_editor_field :customer, :months_employed, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Occupation:</label>
    <%= in_place_editor_field :customer, :occupation, {}, {:value_required => false} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Employer Phone:</label>
    <%= in_place_editor_field :customer, :employer_phone, {}, {:value_required => true, :format => "phone"} %>
    <% if @employer_listings.length == 0 %>
      <%= display_warning_tooltip(:customer, :employer_phone, "Not listed on 411.com") %>
    <% else %>
      <% if @employer_listings.first.line_type == "cell phone" %>
        <%= image_tag("icons/tiny_cell_phone.png") %>
        <%= display_warning_tooltip(:customer, :employer_phone_cell, "Employer phone is a cell phone") %>
      <% else %>
        <%= image_tag("icons/landline.png") %>
      <% end %>

      <% if @employer_listings.first.state != @customer.state %>
        <%= display_warning_tooltip(:customer, :employer_phone_state_mismatch, "Employer phone state does not match application") %>
      <% end %>
    <% end %>
    <% if @employer_listings.length >= 1 %>
      <%= link_to_function image_tag("icons/tiny_rolodex.png", :border => 0, :width => 10, :height => 10), "$('#employer_phone_details').dialog('open')" %>
    <% end %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Employer Phone Ext:</label>
    <%= in_place_editor_field :customer, :employer_phone_ext, {}, {:value_required => false} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Supervisor Name:</label>
    <%= in_place_editor_field :customer, :supervisor_name, {}, {:value_required => false} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Supervisor Phone:</label>
    <%= in_place_editor_field :customer, :supervisor_phone, {}, {:value_required => false, :format => "phone"} %>
    <% if @employer_listings.length == 0 %>
      <%= display_warning_tooltip(:customer, :supervisor_phone, "Not listed on 411.com") %>
    <% else %>
      <% if @employer_listings.first.line_type == "cell phone" %>
        <%= image_tag("icons/tiny_cell_phone.png") %>
        <%= display_warning_tooltip(:customer, :supervisor_phone_cell, "Supervisor phone is a cell phone") %>
      <% else %>
        <%= image_tag("icons/landline.png") %>
      <% end %>

      <% if @employer_listings.first.state != @customer.state %>
        <%= display_warning_tooltip(:customer, :supervisor_phone_state_mismatch, "Supervisor phone state does not match application") %>
      <% end %>
    <% end %>
    <% if @employer_listings.length >= 1 %>
      <%= link_to_function image_tag("icons/tiny_rolodex.png", :border => 0, :width => 10, :height => 10), "$('#supervisor_phone_details').dialog('open')" %>
    <% end %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Supervisor Phone Ext:</label>
    <%= in_place_editor_field :customer, :supervisor_phone_ext, {}, {:value_required => false} %>
  </li>
</ul>

<div id="employer_phone_details" style="display: none;" class="dialog">
  <%= render :partial => "/includes/listing_data_for_phone", :locals => { :phone => customer.employer_phone } %>
</div>

<div id="supervisor_phone_details" style="display: none;" class="dialog">
  <%= render :partial => "/includes/listing_data_for_phone", :locals => { :phone => customer.supervisor_phone } %>
</div>