<% if current_user.is_underwriter? && customer.pending_approval? %>
  <div style="float: right; padding-bottom: 10px; margin-top: -10px;">
    <div id="verify_personal_status"></div>
  </div>
  <script type="text/javascript">
    $('#verify_personal_status').iphoneSwitch('<%= customer.verified_personal == 0 ? "off" : "on" %>',
      function() { 
        $.ajax({
         type: "POST",
         url: "/customers/<%= customer.id %>/update_validation_status",
         data: "t=personal&v=1"
       });
      },
      function() { 
        $.ajax({
         type: "POST",
         url: "/customers/<%= customer.id %>/update_validation_status",
         data: "t=personal&v=0"
       });
      },
      { switch_on_container_path: '/images/iphone_switch/iphone_switch_container_off.png' }
    );
  </script>
  <div class="clear"></div>
<% end %>
<div class="notification attention png_bg">
	<a href="#" class="close"><img src="/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
	<div>
          This customer appears to be the same person as the following but with discrepancies:
          <% for prior_customer in @prior_instances_of_customer_with_discrepancies %>
          <ul>
            <li><%= link_to(prior_customer.full_name, :controller => :customers, :action => :show, :id => prior_customer.id) -%>, <%= prior_customer.address -%>, <%= prior_customer.city-%>, <%= prior_customer.state -%></li>
          </ul>
          <% end %>
	</div>
</div>

<ul class="show_details">
  <li class="<%= cycle('odd','even') %>">
    <label>First Name:</label>
    <%= in_place_editor_field :customer, :first_name, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Last Name:</label>
    <%= in_place_editor_field :customer, :last_name, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Social Security Number:</label>
    <% if current_user.role == 'administrator' %>
    <%= in_place_editor_field :customer, :ssn, {}, {:value_required => true} %>
    <% else %>
    <%= (customer.ssn).using("###-##-####") %>
    <%= image_tag('icons/tiny_lock.gif', :align => "top", :class => "tooltip locked_field") %>
    <% end %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Gender:</label>
    <%= in_place_editor_field :customer, :gender, { :style => "padding-right: 100px;" }, 
        { :field_type => 'select', :value_required => true, :select_options => ["Male:m", "Female:f"] } %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Birth Date:</label>
    <%= in_place_editor_field :customer, :birth_date, {}, { :value_required => true, :datepicker => 'datepicker' } %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Email</label>
    <%= in_place_editor_field :customer, :email, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Drivers License #:</label>
    <% if current_user.role == 'administrator' %>
    <%= in_place_editor_field :customer, :dl_number, {}, {:value_required => true} %>
    <% else %>
    <%= customer.dl_number %>
    <%= image_tag('icons/tiny_lock.gif', :align => "top", :class => "tooltip locked_field") %>
    <% end %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Drivers License State:</label>
    <%= in_place_editor_field :customer, :dl_state, { :style => "padding-right: 100px;" }, 
        { :field_type => 'select', :value_required => true, :select_options => Common::US_STATES.sort.map{|k,v|"#{k} - #{v}:#{k}"} } %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Military Member?</label>
    <%= in_place_editor_field :customer, :military, { :style => "padding-right: 100px;" }, 
        { :field_type => 'select', :value_required => true, :select_options => ["Yes:true", "No:false"] } %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Home Phone:</label>
    <%= in_place_editor_field :customer, :home_phone, {}, {:value_required => true, :format => "phone"} %>
    <% if @home_listings.length == 0 %>
      <%= display_warning_tooltip(:customer, :home_phone, "Not listed on 411.com") %>
    <% else %>
      <% if @home_listings.first.line_type == "cell phone" %>
        <%= image_tag("icons/tiny_cell_phone.png") %>
        <%= display_warning_tooltip(:customer, :home_phone, "Home phone is a cell phone") %>
      <% else %>
        <%= image_tag("icons/landline.png") %>
      <% end %>
    
      <% if @home_listings.first.state != @customer.state %>
        <%= display_warning_tooltip(:customer, :home_phone_state_mismatch, "Home phone state does not match application") %>
      <% end %>

    <% end %>
    <% if @home_listings.length >= 1 %>
      <%= link_to_function image_tag("icons/tiny_rolodex.png", :border => 0, :width => 10, :height => 10), "$('#home_phone_details').dialog('open')" %>
    <% end %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Work Phone:</label>
    <%= in_place_editor_field :customer, :work_phone, {}, {:value_required => true, :format => "phone"} %>
    <% if @work_listings.length == 0 %>
      <%= display_warning_tooltip(:customer, :work_phone, "Not listed on 411.com") %>
    <% else %>
      <% if @work_listings.first.line_type == "cell phone" %>
        <%= image_tag("icons/tiny_cell_phone.png") %>
        <%= display_warning_tooltip(:customer, :work_phone, "Work phone is a cell phone") %>
      <% else %>
        <%= image_tag("icons/landline.png") %>
      <% end %>

      <% if @work_listings.first.state != @customer.state %>
        <%= display_warning_tooltip(:customer, :work_phone_state_mismatch, "Work phone state does not match application") %>
      <% end %>
    <% end %>
    <% if @work_listings.length >= 1 %>
      <%= link_to_function image_tag("icons/tiny_rolodex.png", :border => 0, :width => 10, :height => 10), "$('#work_phone_details').dialog('open')" %>
    <% end %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Cell Phone:</label>
    <%= in_place_editor_field :customer, :cell_phone, {}, {:value_required => true, :format => "phone"} %>
    <% if @cell_listings.length == 0 %>
      <%= display_warning_tooltip(:customer, :cell_phone, "Not listed on 411.com") %>
    <% else %>
      <% if @cell_listings.first.line_type == "cell phone" %>
        <%= image_tag("icons/tiny_cell_phone.png") %>
      <% else %>
        <%= image_tag("icons/landline.png") %>
      <% end %>
    <% end %>
    <% if @cell_listings.length >= 1 %>
      <%= link_to_function image_tag("icons/tiny_rolodex.png", :border => 0, :width => 10, :height => 10), "$('#cell_phone_details').dialog('open')" %>
    <% end %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Fax:</label>
    <%= in_place_editor_field :customer, :fax, {}, {:value_required => false, :format => "phone"} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Address:</label>
    <%= in_place_editor_field :customer, :address, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>City:</label>
    <%= in_place_editor_field :customer, :city, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>State:</label>
    <%= in_place_editor_field :customer, :state, { :style => "padding-right: 100px;" }, 
        { :field_type => 'select', :value_required => true, :select_options => Common::US_STATES.sort.map{|k,v|"#{k} - #{v}:#{k}"} } %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>ZIP:</label>
    <%= in_place_editor_field :customer, :zip, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Rent or Own?</label>
    <%= in_place_editor_field :customer, :residence_type, { :style => "padding-right: 100px;" }, 
        { :field_type => 'select', :value_required => true, :select_options => ["Rent:RENT", "Own:OWN"] } %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Monthly Residence Cost:</label>
    <%= in_place_editor_field :customer, :monthly_residence_cost, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Months at Residence:</label>
    <%= in_place_editor_field :customer, :months_at_address, {}, {:value_required => true} %>
  </li>
</ul>
<ul class="show_details">  
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 1:</label>
    <%= in_place_editor_field :customer, :reference_1_name, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 1 Phone:</label>
    <%= in_place_editor_field :customer, :reference_1_phone, {}, {:value_required => true, :format => "phone"} %>
    <% if @reference_1_listings.length == 0 %>
      <%= display_warning_tooltip(:customer, :reference_1_phone, "Not listed on 411.com") %>
    <% else %>
      <% if @reference_1_listings.first.line_type == "cell phone" %>
        <%= image_tag("icons/tiny_cell_phone.png") %>
      <% else %>
        <%= image_tag("icons/landline.png") %>
      <% end %>
    <% end %>
    <% if @reference_1_listings.length >= 1 %>
      <%= link_to_function image_tag("icons/tiny_rolodex.png", :border => 0, :width => 10, :height => 10), "$('#reference_1_phone_details').dialog('open')" %>
    <% end %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 1 Address:</label>
    <%= in_place_editor_field :customer, :reference_1_address, {}, {:value_required => false} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 1 City:</label>
    <%= in_place_editor_field :customer, :reference_1_city, {}, {:value_required => false} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 1 State:</label>
    <%= in_place_editor_field :customer, :reference_1_state, { :style => "padding-right: 100px;" }, 
        { :field_type => 'select', :value_required => false, :select_options => Common::US_STATES.sort.map{|k,v|"#{k} - #{v}:#{k}"} } %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 1 ZIP:</label>
    <%= in_place_editor_field :customer, :reference_1_zip, {}, {:value_required => false} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 1 Relationship:</label>
    <%= in_place_editor_field :customer, :reference_1_relationship, {}, 
        { :field_type => 'select', :value_required => true, :select_options => ["Co-Worker:COWORKER", "Friend:FRIEND", "Parent:PARENT", "Sibling:SIBLING", "Other:OTHER"] } %>
  </li>
</ul>
<ul class="show_details">  
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 2:</label>
    <%= in_place_editor_field :customer, :reference_2_name, {}, {:value_required => true} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 2 Phone:</label>
    <%= in_place_editor_field :customer, :reference_2_phone, {}, {:value_required => true, :format => "phone"} %>
    <% if @reference_2_listings.length == 0 %>
      <%= display_warning_tooltip(:customer, :reference_2_phone, "Not listed on 411.com") %>
    <% else %>
      <% if @reference_2_listings.first.line_type == "cell phone" %>
        <%= image_tag("icons/tiny_cell_phone.png") %>
      <% else %>
        <%= image_tag("icons/landline.png") %>
      <% end %>
    <% end %>
    <% if @reference_2_listings.length >= 1 %>
      <%= link_to_function image_tag("icons/tiny_rolodex.png", :border => 0, :width => 10, :height => 10), "$('#reference_2_phone_details').dialog('open')" %>
    <% end %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 2 Address:</label>
    <%= in_place_editor_field :customer, :reference_2_address, {}, {:value_required => false} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 2 City:</label>
    <%= in_place_editor_field :customer, :reference_2_city, {}, {:value_required => false} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 2 State:</label>
    <%= in_place_editor_field :customer, :reference_2_state, { :style => "padding-right: 100px;" }, 
        { :field_type => 'select', :value_required => false, :select_options => Common::US_STATES.sort.map{|k,v|"#{k} - #{v}:#{k}"} } %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 2 ZIP:</label>
    <%= in_place_editor_field :customer, :reference_2_zip, {}, {:value_required => false} %>
  </li>
  <li class="<%= cycle('odd','even') %>">
    <label>Reference 2 Relationship:</label>
    <%= in_place_editor_field :customer, :reference_2_relationship, {}, 
        { :field_type => 'select', :value_required => true, :select_options => ["Co-Worker:COWORKER", "Friend:FRIEND", "Parent:PARENT", "Sibling:SIBLING", "Other:OTHER"] } %>
  </li>
</ul>

<div id="home_phone_details" style="display: none;" class="dialog">
  <%= render :partial => "/includes/listing_data_for_phone", :locals => { :phone => customer.home_phone } %>
</div>

  <div id="work_phone_details" style="display: none;" class="dialog">
  <%= render :partial => "/includes/listing_data_for_phone", :locals => { :phone => customer.work_phone } %>
</div>

  <div id="cell_phone_details" style="display: none;" class="dialog">
  <%= render :partial => "/includes/listing_data_for_phone", :locals => { :phone => customer.cell_phone } %>
</div>

  <div id="reference_1_phone_details" style="display: none;" class="dialog">
  <%= render :partial => "/includes/listing_data_for_phone", :locals => { :phone => customer.reference_1_phone } %>
</div>

  <div id="reference_2_phone_details" style="display: none;" class="dialog">
  <%= render :partial => "/includes/listing_data_for_phone", :locals => { :phone => customer.reference_2_phone } %>
</div>
