<div style="float: left; padding-bottom: 10px; margin-top: -10px;">
  <%= link_to "View Truth In Lending Agreement (popup window)", tila_customer_path(customer), :target => "_blank" %>
</div>
<% if current_user.is_underwriter? && customer.pending_approval? %>
  <div style="float: right; padding-bottom: 10px; margin-top: -10px;">
    <div id="verify_tila_status"></div>
  </div>
  <script type="text/javascript">
    $('#verify_tila_status').iphoneSwitch('<%= customer.verified_tila == 0 ? "off" : "on" %>',
      function() { 
        $.ajax({
         type: "POST",
         url: "/customers/<%= customer.id %>/update_validation_status",
         data: "t=tila&v=1"
       });
      },
      function() { 
        $.ajax({
         type: "POST",
         url: "/customers/<%= customer.id %>/update_validation_status",
         data: "t=tila&v=0"
       });
      },
      { switch_on_container_path: '/images/iphone_switch/iphone_switch_container_off.png' }
    );
  </script>
<% end %>
<div class="clear"></div>


<iframe src="<%= tila_customer_path(customer) %>" width="100%" height="391" style="border: 2px solid #d0d0d0; margin-top: 10px;">
  <p>Your browser does not support iframes.</p>
</iframe>