<div id="comments_block">
  <%= display_flash(flash) %>
  <%#= render :partial => "notes", :locals => { :comment => comment } %>
  <div class="comment_container">
    <h3 style="float:left">Comments</h3>
    <div style="float:left;margin:3px 0 0 20px"><%= link_to "New Comments" %></div>
    <div class="clear"></div>
    <% loan.comments.each do |comment| %>
      <div class="comment_header">
        <!--<div class="gravatar"><%#= gravatar_for(comment.user, :size => 35) %></div>-->
        <div class="author"><%= comment.user.full_name %></div>
        <div class="datetime"><%= distance_of_time_in_words_to_now(comment.created_at) %> ago</div>
        <div class="clear"></div>
      </div>
      <div class="comment_body">
        <%= comment.comment.gsub(/\r/,'<br />') %>
      </div>
    <% end %>
  </div>
  <h3 style="float:left">Reminders</h3>
  <div style="float:left;margin:3px 0 0 20px">
    <%= link_to_function('New Reminder',"$('#reminder_dialog').dialog('open');", :style => 'margin-right:10px') -%>
  </div>
  <div class="clear"></div>
  <table>
    <thead>
      <tr>
        <th style="width:80px">Date</th>
        <th style="width:80px">Created By</th>
        <th>Comment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for @reminder in @loan.reminders %>
      <tr>
        <td style="width:80px" nowrap><%= in_place_editor_field :reminder, :remind_on, {}, { :datepicker => 'datepicker', :value_required => true} -%></td>
        <td style="width:80px" nowrap><%= @reminder.user.full_name if @reminder.user_id -%></td>
        <td><%= in_place_editor_field :reminder, :comment, {}, {:value_required => true} %></td>
        <td style="text-align:right"><%= link_to(image_tag("icons/cross.png", :title => "Delete", :alt => "Delete"), { :controller => 'reminders', :action => 'destroy', :id => @reminder.id, :loan_id => loan.id} , :method => :delete, :confirm => "Are you sure?") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

