<% content_for :head do %>
<script type="text/javascript">

  //global
  var edit_shown = false;
  var value_before_edit = null;

  function edit_financial_data()
  {
    $('#financial_block').hide();
    $('#edit_financial_block').show();
    $('#finance_alert_notification').hide();
    fin_form = "edit"
  }
  
  function save_financial_data()
  {
    var arr = new Array;
    arr[0] = $('#customer_monthly_income').val();
    arr[1] = $('#customer_income_source').val();
    arr[2] = $('#customer_pay_frequency').val();
    arr[3] = $('#bank_account_bank_name').val();
    arr[4] = $('#bank_account_bank_account_type').val();
    arr[5] = $('#bank_account_bank_aba_number').val();
    arr[6] = $('#bank_account_bank_account_number').val();
    arr[7] = $('#bank_account_months_at_bank').val();
    arr[8] = $('#bank_account_bank_address').val();
    arr[9] = $('#bank_account_bank_city').val();
    arr[10] = $('#bank_account_bank_state').val();
    arr[11] = $('#bank_account_bank_zip').val();
    arr.join(",");
    $.post('/loans/<%= loan.id %>/edit_financial_data','fin_data='+arr, function(data){
      fin_data = data.split(',');
      customer_monthly_income1 = fin_data[0];
      customer_income_source1 = fin_data[1];
      customer_pay_frequency1 = fin_data[2];
      bank_account_bank_name1 = fin_data[3];
      bank_account_bank_acount_type1 = fin_data[4];
      bank_account_bank_aba_number1 = fin_data[5];
      bank_account_bank_account_number1 = fin_data[6];
      bank_account_months_at_bank1 = fin_data[7];
      bank_account_bank_address1 = fin_data[8];
      bank_account_bank_city1 = fin_data[9];
      bank_account_bank_state1 = fin_data[10];
      bank_account_bank_zip1 = fin_data[11];
      finance_change_alert = fin_data[12];
      finance_aba_number_risk_alert = fin_data[13];

      $('#customer_monthly_income1').html(customer_monthly_income1);
      $('#customer_income_source1').html(customer_income_source1);
      $('#customer_pay_frequency1').html(customer_pay_frequency1);
      $('#bank_account_bank_name1').html(bank_account_bank_name1);
      $('#bank_account_bank_acount_type1').html(bank_account_bank_acount_type1);
      $('#bank_account_bank_aba_number1').html(bank_account_bank_aba_number1);
      $('#bank_account_bank_account_number1').html(bank_account_bank_account_number1);
      $('#bank_account_months_at_bank1').html(bank_account_months_at_bank1);
      $('#bank_account_bank_address1').html(bank_account_bank_address1);
      $('#bank_account_bank_city1').html(bank_account_bank_city1);
      $('#bank_account_bank_state1').html(bank_account_bank_state1);
      $('#bank_account_bank_zip1').html(bank_account_bank_zip1);
      $('#finance_change_alert').html(finance_change_alert);
      $('#finance_aba_number_risk_alert').html(finance_aba_number_risk_alert);
      $('#finance_alert_notification').show();
      $('#finance_alert_notification').css('opacity',1);
    });
    $('#edit_financial_block').hide();
    $('#financial_block').show();
    $('#finance_alert_notification1').hide();
    fin_form = ""
  }

  $(document).ready(function() {



    $("#finance_comment").click(function(){
      //comment = $('#comment_text').val();
      $.post('/loan/<%= loan.id %>/add_comment_customer',"comment="+ $('#comment_finance_text').val(),function(data)
      {
        $('#fin_comment_message').fadeTo('fast',1.0);
        $('#fin_comment_message').show();
        $('#fin_comment_msg').html(data);
        $('#comment_finance_text').val("");
        //$('#finance_comment_div').hide();
        //$('#financial_block').width(1000);
        //cus_comment = $('#comment_text').val();
        //  if (cus_comment == "" )
        //  {
        //  $('#comment_message').hide();
        // }
        //else
        //{
        //$('#comment_message').show();
      });         //}
    });

    $('#fin_remark').change(function(){
      remark_value = $(this).val();
      $.get("/loan/<%= loan.id %>/loan_remark","remark_value="+remark_value,function(data){

      });
    });


    $('#verify_financial_status').iphoneSwitch('<%= loan.verified_financial ? "on" : "off" %>',
    function() {
      $.post("/loans/<%= loan.id %>/update_validation_status","t=financial&v=1&comment="+ $('#comment_finance_text').val(),null,"script");
      $('#verified_financial_checkmark').html('&#8730; ');

      $('#financial_block').hide();
      $('#employment').show();
      $('#employment_block').show();
      $('#verify_button_f').hide();

      document.getElementById('tab_employment').innerHTML="<a href='#' class='content-box-tabs default-tab current' id='employment_link' onclick='"+ 'ShowHideTab("employment")'+"'" +" rel='history'><span id='verified_employment_checkmark'></span>Employment</a>";
      document.getElementById('tab_financial').innerHTML="<a href='#' id='financial_link' onclick='"+ 'ShowHideTab("financial")'+"'" +" rel='history'><span id='verified_financial_checkmark'>&#8730;&nbsp;</span>Financial</a>";
    },
    function() {
      $.post("/loans/<%= loan.id %>/update_validation_status","t=financial&v=0",null,"script");
      $('#verified_financial_checkmark').html('');
    },
    { switch_on_container_path: '/images/iphone_switch/iphone_switch_container_off.png' }
  );





  });

</script>
<% end %>

<div id="fin_comment_message" class="notification success png_bg" style="display:none;"><a class="close" href="#"><img alt="close" title="Close this notification" src="/images/icons/cross_grey_small.png"/></a><div id="fin_comment_msg"></div></div>
<% if current_user.is_underwriter? && loan.pending_approval? %>
  <div style="float: right; padding-bottom: 10px; margin-top: -10px;" id="verify_button_f">
    <a href="#"<% if @current_tab == "employment" %> class="default-tab"<% end %> rel="history"><div id="verify_financial_status"></div></a>
  </div>

  <div class="clear"></div>
<% end %>
<div style="width:15px;"></div>
<div id="financial_block">

  <div id ="finance_alert_notification" class="notification attention png_bg" style="display: none;">
    <a href="#" class="close"><img src="/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
    <tr>
    <div id ="finance_change_alert">
    </div></tr>
    <tr>
    <div id ="finance_aba_number_risk_alert">
    </div></tr>
  </div>
  <% if loan.financial_data_change == true %>
    <div id ="finance_alert_notification1" class="notification attention png_bg" >
      <a href="#" class="close"><img src="/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
      <tr>
      <div id ="finance_change_alert1">
        A faxed bank account statement is required
      </div></tr>
      <tr>
      <div id ="finance_aba_number_risk_alert1">
        The ABA number is a part of High Risk Bank Branches
      </div></tr>
    </div>
  <% end %>
    <div id="show_detail" <%if current_user.role == "underwriter" %>style="width:650px;"<% end %>>
    <ul class="show_details">
      <li class="<%= cycle('odd','even') %>">
        <label>Monthly Income:</label>
        <span id="customer_monthly_income1">
          <%= number_to_currency(customer.monthly_income, :precision => 2) %>
        </span>
      </li>
      <li class="<%= cycle('odd','even') %>">
        <label>Income Source:</label>
        <span id = "customer_income_source1">
          <%= customer.income_source %>
        </span>
      </li>
      <li class="<%= cycle('odd','even') %>">
        <label>Pay Frequency:</label>
        <span id="customer_pay_frequency1">
          <%= customer.pay_frequency %>
        </span>
      </li>
      <li class="<%= cycle('odd','even') %>">
        <label>Direct Deposit?:</label>
        <%= boolean_to_english(customer.bank_direct_deposit) %>
        <%= image_tag('icons/tiny_lock.gif', :align => "top", :class => "tooltip locked_field") %>
      </li>
      <li class="<%= cycle('odd','even') %>">
        <label>Bank Name:</label>
        <span id="bank_account_bank_name1">
          <%= customer.bank_accounts.first.bank_name %>
        </span>
      </li>
      <li class="<%= cycle('odd','even') %>">
        <label>Bank Account Type:</label>
        <span id="bank_account_bank_acount_type1">
          <%= customer.bank_accounts.first.bank_account_type %>
        </span>
      </li>

      <li class="<%= cycle('odd','even') %>">
        <label>Bank ABA #:</label>
        <span id="bank_account_bank_aba_number1">
          <%= customer.bank_accounts.first.bank_aba_number %>
        </span>
      </li>
      <li class="<%= cycle('odd','even') %>">
        <label>Bank Account #:</label>
        <span id="bank_account_bank_account_number1">
          <%= customer.bank_accounts.first.bank_account_number %></span>
      </li>
      <li class="<%= cycle('odd','even') %>">
        <label># Months at Bank:</label>
        <span id="bank_account_months_at_bank1">
          <%= customer.bank_accounts.first.months_at_bank %></span>
      </li>
      <li class="<%= cycle('odd','even') %>">
        <label>Bank Address:</label>
        <span id="bank_account_bank_address1">
          <%= customer.bank_accounts.first.bank_address %></span>
      </li>
      <li class="<%= cycle('odd','even') %>">
        <label>Bank City:</label>
        <span id="bank_account_bank_city1">
          <%= customer.bank_accounts.first.bank_city %></span>
      </li>
      <li class="<%= cycle('odd','even') %>">
        <label>Bank State:</label>
        <span id="bank_account_bank_state1">
          <%= customer.bank_accounts.first.bank_state %></span>
      </li>
      <li class="<%= cycle('odd','even') %>">
        <label>Bank ZIP:</label>
        <span id="bank_account_bank_zip1">
          <%= customer.bank_accounts.first.bank_zip %></span>
      </li>
      <li>
        <label>
          <%= submit_tag 'Edit Financial Information', {:onclick => "edit_financial_data();"} %>
        </label>
      </li>
    </ul>
  </div>
  <%if current_user.role == "underwriter" %>
    <div id="finance_remark" style="float:right;margin-top: -287px;margin-right:20px;">
      Remark : <%= select("fin","remark",Loan::REMARKS_OPTIONS) %>
    </div>

    <div id="finance_comment_div" style="float:right;margin-top: -255px;margin-left:100px;">
      <div style="vertical-align: top;float: left;height:250px;width:68px;padding-right: 2px;">Comment :</div>
      <div style="height:250px;width:250px;float:left;">
        <%= text_area :comment, "finance_text", :style => "width:230px;height:200px;margin-right:15px;" %>
        <p>
          <%= link_to_function(submit_tag "Add Comment",:class=>"button",:id=>"finance_comment") %>
        </p>
      </div>

    </div>

<% end %>
</div>

<div id="edit_financial_block" style="display: none">
  <ul class="show_details">
    <li class="<%= cycle('odd','even') %>">
      <label>Monthly Income:</label>
      <%= text_field :customer, :monthly_income %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label>Income Source:</label>
      <%= select :customer, :income_source, [["Employment","EMPLOYMENT"], ["Benefits","BENEFITS"]] %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label>Pay Frequency:</label>
      <%= select :customer, :pay_frequency, [["Weekly","WEEKLY"], ["Bi-Weekly","BI_WEEKLY"], ["Twice Monthly","TWICE_MONTHLY"], ["Monthly","MONTHLY"]] %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label>Direct Deposit?:</label>
      <%= boolean_to_english(customer.bank_direct_deposit) %>
      <%= image_tag('icons/tiny_lock.gif', :align => "top", :class => "tooltip locked_field") %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label>Bank Name:</label>
      <%= text_field :bank_account, :bank_name %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label>Bank Account Type:</label>
      <%= select :bank_account, :bank_account_type, [["Checking","CHECKING"], ["Savings","SAVINGS"]] %>
    </li>

    <li class="<%= cycle('odd','even') %>">
      <label>Bank ABA #:</label>
      <%= text_field :bank_account, :bank_aba_number, {:value_required => true} %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label>Bank Account #:</label>
      <%= text_field :bank_account, :bank_account_number, {:value_required => true} %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label># Months at Bank:</label>
      <%= text_field :bank_account, :months_at_bank, {:value_required => true} %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label>Bank Address:</label>
      <%= text_field :bank_account, :bank_address, {:value_required => true} %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label>Bank City:</label>
      <%= text_field :bank_account, :bank_city, {:value_required => true} %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label>Bank State:</label>
      <%= select :bank_account, :bank_state, Customer::US_STATES %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label>Bank ZIP:</label>
      <%= text_field :bank_account, :bank_zip, {:value_required => true} %>
    </li>
    <li>
      <label>
        <%= submit_tag 'Save Financial Information', {:onclick => "save_financial_data()"} %>
      </label>
    </li>
  </ul>
</div>
