<% if current_user.is_underwriter? && loan.pending_approval? %>
  <div style="float: right; padding-bottom: 10px; margin-top: -10px;" id="verify_button">
    <a href="#"<% if @current_tab == "financial" %> class="default-tab"<% end %> rel="history"> <div id="verify_personal_status"></div></a>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
    $('#verify_personal_status').iphoneSwitch('<%= loan.verified_personal ? "on" : "off" %>',
    function() {
      $.post("/loans/<%= loan.id %>/update_validation_status","t=personal&v=1",null,"script");
      $('#verified_personal_checkmark').html('&#8730; ');
      //$('#finance_comment').hide();
      $('#personal_block').hide();
      $('#financial').show();
      $('#financial_block').show();
      $('#verify_button_f').show();
      $('#verify_button').hide();

      document.getElementById('tab_financial').innerHTML="<a href='#' class='content-box-tabs default-tab current' id='financial_link' onclick='"+ 'ShowHideTab("financial")'+"'" +" rel='history'><span id='verified_financial_checkmark'></span>Financial</a>";
      document.getElementById('tab_personal').innerHTML="<a href='#' id='personal_link' onclick='"+ 'ShowHideTab("personal")'+"'" +" rel='history'><span id='verified_personal_checkmark'>&#8730;&nbsp;</span>Personal</a>";

    },
    function() {
      $.post("/loans/<%= loan.id %>/update_validation_status","t=personal&v=0",null,"script");
      $('#verified_personal_checkmark').html('');
      //$('#finance_comment').hide();
    },
    { switch_on_container_path: '/images/iphone_switch/iphone_switch_container_off.png' }
  );

    $('#per_remark').change(function(){
          remark_value = $(this).val();
          $.get("/loan/<%= loan.id %>/loan_remark","remark_value="+remark_value,function(data){

          });
         });

     });
       
  </script>
  <div class="clear"></div>
<% end %>
<div id="personal_block">

  <% unless @prior_instances_of_customer_with_discrepancies.empty? %>
  <div class="notification attention png_bg">
    <a href="#" class="close"><img src="/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
    <div>
      This customer appears to be the same person as the following but with discrepancies:
      <% for prior_customer in @prior_instances_of_customer_with_discrepancies %>
        <ul>
          <li><%= link_to(prior_customer.full_name, :controller => :customers, :action => :show, :id => prior_customer.id) -%>, <%= prior_customer.address -%>, <%= prior_customer.city-%>, <%= prior_customer.state -%></li>
        </ul>
      <% end %>
    </div>
  </div>
  <% end %>
  <ul class="personal_details">
 <%if current_user.role == "underwriter" %>
    <li  class="<%= cycle('odd','even') %>" style="float:right;">
      <table class="remark_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td align="right">
             Remark : <%= select("per","remark",Loan::REMARKS_OPTIONS) %>
          </td>
        </tr>
      </table>
    </li>
 <% end %>

    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>Name:</strong></label>
            <%= in_place_editor_field :customer, :first_name, {}, {:value_required => true} %>
            <%= in_place_editor_field :customer, :last_name, {}, {:value_required => true} %>
          </td>
          <td>
            <label><strong>Ref 1:</strong></label>
            <%= in_place_editor_field :customer, :reference_1_name, {}, {:value_required => true} %>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>SSN:</strong></label>
            <% if current_user.role == 'administrator' %>
              <%= in_place_editor_field :customer, :ssn, {}, {:value_required => true} %>
            <% else %>
              <%= (customer.ssn).using('###-##-####') %>
              <%= image_tag('icons/tiny_lock.gif', :align => "top", :class => "tooltip locked_field") %>
            <% end %>
          </td>
          <td>
            <label><strong>Phone:</strong></label>
            <%= in_place_editor_field :customer, :reference_1_phone, {}, {:value_required => true, :format => "phone"} %>
            <% if @reference_1_listings.length == 0 %>
              <%= display_warning_tooltip(:customer, :reference_1_phone, "Not listed on 411.com") %>
            <% else %>
              <% if @reference_1_listings.first.line_type == "cell phone" %>
                <%= image_tag("icons/tiny_cell_phone.png") %>
              <% else %>
                <%= image_tag("icons/landline.png") %>
              <% end %>
            <% end %>
            <% if @reference_1_listings.length >= 1 %>
              <%= link_to_function image_tag("icons/tiny_rolodex.png", :border => 0, :width => 10, :height => 10), "$('#reference_1_phone_details').dialog('open')" %>
            <% end %>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>Birth Date:</strong></label>
            <%= in_place_editor_field :customer, :birth_date, {}, { :value_required => true, :datepicker => 'datepicker' } %>
          </td>
          <td>
            <label><strong>Address:</strong></label>
            <%= in_place_editor_field :customer, :reference_1_address, {}, {:value_required => false} %>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>Email:</strong></label>
            <%= in_place_editor_field :customer, :email, {}, {:value_required => true} %>
          </td>
          <td>
            <label><strong>City:</strong></label>
            <%= in_place_editor_field :customer, :reference_1_city, {}, {:value_required => false} %>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>Primary Phone:</strong></label>
            <%= in_place_editor_field :customer, :home_phone, {}, {:value_required => true, :format => "phone"} %>
            <% if @home_listings.length == 0 %>
              <%= display_warning_tooltip(:customer, :home_phone, "Not listed on 411.com") %>
            <% else %>
              <% if @home_listings.first.line_type == "cell phone" %>
                <%= image_tag("icons/tiny_cell_phone.png") %>
                <%= display_warning_tooltip(:customer, :home_phone, "Home phone is a cell phone") %>
              <% else %>
                <%= image_tag("icons/landline.png") %>
              <% end %>

              <% if @home_listings.first.state != @customer.state %>
                <%= display_warning_tooltip(:customer, :home_phone_state_mismatch, "Home phone state does not match application") %>
              <% end %>

            <% end %>
            <% if @home_listings.length >= 1 %>
              <%= link_to_function image_tag("icons/tiny_rolodex.png", :border => 0, :width => 10, :height => 10), "$('#home_phone_details').dialog('open')" %>
            <% end %>
          </td>
          <td>
            <label><strong>State:</strong></label>
            <%= in_place_editor_field :customer, :reference_1_state, { :style => "padding-right: 100px;" },
              { :field_type => 'select', :value_required => false, :select_options => Common::US_STATES.sort.map{|k,v|"#{k} - #{v}:#{k}"} } %>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>Mobile:</strong></label>
            <%= in_place_editor_field :customer, :cell_phone, {}, {:value_required => true, :format => "phone"} %>
            <% if @cell_listings.length == 0 %>
              <%= display_warning_tooltip(:customer, :cell_phone, "Not listed on 411.com") %>
            <% else %>
              <% if @cell_listings.first.line_type == "cell phone" %>
                <%= image_tag("icons/tiny_cell_phone.png") %>
              <% else %>
                <%= image_tag("icons/landline.png") %>
              <% end %>
            <% end %>
            <% if @cell_listings.length >= 1 %>
              <%= link_to_function image_tag("icons/tiny_rolodex.png", :border => 0, :width => 10, :height => 10), "$('#cell_phone_details').dialog('open')" %>
            <% end %>
          </td>
          <td>
            <label><strong>Zip:</strong></label>
            <%= in_place_editor_field :customer, :reference_1_zip, {}, {:value_required => false} %>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>Address:</strong></label>
            <%= in_place_editor_field :customer, :address, {}, {:value_required => true} %>
          </td>
          <td>
            <label><strong>Relationship:</strong></label>
            <%= in_place_editor_field :customer, :reference_1_relationship, {},
              { :field_type => 'select', :value_required => true, :select_options => ["Co-Worker:COWORKER", "Friend:FRIEND", "Parent:PARENT", "Sibling:SIBLING", "Other:OTHER"] } %>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>City:</strong></label>
            <%= in_place_editor_field :customer, :city, {}, {:value_required => true} %>
          </td>
          <td>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>State:</strong></label>
            <%= in_place_editor_field :customer, :state, { :style => "padding-right: 100px;" },
              { :field_type => 'select', :value_required => true, :select_options => Common::US_STATES.sort.map{|k,v|"#{k} - #{v}:#{k}"} } %>
          </td>
          <td>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>Zip:</strong></label>
            <%= in_place_editor_field :customer, :zip, {}, {:value_required => true} %>
          </td>
          <td>
            <label><strong>Ref 2:</strong></label>
            <%= in_place_editor_field :customer, :reference_2_name, {}, {:value_required => true} %>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>DL State & Num.:</strong></label>
            <%= in_place_editor_field :customer, :dl_state, { :style => "padding-right: 30px;" },
              { :field_type => 'select', :value_required => true, :select_options => Common::US_STATES.sort.map{|k,v|"#{k}"} } %>
            <% if current_user.role == 'administrator' %>
              <%= in_place_editor_field :customer, :dl_number, {}, {:value_required => true} %>
            <% else %>
              <%= customer.dl_number %>
              <%= image_tag('icons/tiny_lock.gif', :align => "top", :class => "tooltip locked_field") %>
            <% end %>
          </td>
          <td>
            <label><strong>Phone:</strong></label>
            <%= in_place_editor_field :customer, :reference_2_phone, {}, {:value_required => true, :format => "phone"} %>
            <% if @reference_2_listings.length == 0 %>
              <%= display_warning_tooltip(:customer, :reference_2_phone, "Not listed on 411.com") %>
            <% else %>
              <% if @reference_2_listings.first.line_type == "cell phone" %>
                <%= image_tag("icons/tiny_cell_phone.png") %>
              <% else %>
                <%= image_tag("icons/landline.png") %>
              <% end %>
            <% end %>
            <% if @reference_2_listings.length >= 1 %>
              <%= link_to_function image_tag("icons/tiny_rolodex.png", :border => 0, :width => 10, :height => 10), "$('#reference_2_phone_details').dialog('open')" %>
            <% end %>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>Rent/Own:</strong></label>
            <%= in_place_editor_field :customer, :residence_type, { :style => "padding-right: 0px;" },
              { :field_type => 'select', :value_required => true, :select_options => ["Rent:RENT", "Own:OWN"] } %>
          </td>
          <td>
            <label><strong>Address:</strong></label>
            <%= in_place_editor_field :customer, :reference_2_address, {}, {:value_required => false} %>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>Monthly Payment:</strong></label>
            <%= in_place_editor_field :customer, :monthly_residence_cost, {}, {:value_required => true} %></td>
          <td>
            <label><strong>City:</strong></label>
            <%= in_place_editor_field :customer, :reference_2_city, {}, {:value_required => false} %>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>Gender:</strong></label>
            <%= in_place_editor_field :customer, :gender, { :style => "padding-right: 100px;" },
              { :field_type => 'select', :value_required => true, :select_options => ["Male:m", "Female:f"] } %>
          </td>
          <td>
            <label><strong>Zip:</strong></label>
            <%= in_place_editor_field :customer, :reference_2_zip, {}, {:value_required => false} %>
          </td>
        </tr>
      </table>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <table class="personal_section">
        <tr onMouseover="this.style.backgroundColor='#FFF9CC';" onMouseout="this.style.backgroundColor='';">
          <td>
            <label><strong>Military:</strong></label>
            <%= in_place_editor_field :customer, :military, { :style => "padding-right: 100px;" },
              { :field_type => 'select', :value_required => true, :select_options => ["Yes:true", "No:false"] } %>
          </td>
          <td>
            <label><strong>Relationship:</strong></label>
            <%= in_place_editor_field :customer, :reference_2_relationship, {},
              { :field_type => 'select', :value_required => true, :select_options => ["Co-Worker:COWORKER", "Friend:FRIEND", "Parent:PARENT", "Sibling:SIBLING", "Other:OTHER"] } %>
          </td>
        </tr>
      </table>
    </li>
  </ul>

  <div id="home_phone_details" style="display: none;" class="dialog">
    <%= render :partial => "/includes/listing_data_for_phone", :locals => { :phone => customer.home_phone } %>
  </div>

  <div id="work_phone_details" style="display: none;" class="dialog">
    <%= render :partial => "/includes/listing_data_for_phone", :locals => { :phone => customer.work_phone } %>
  </div>

  <div id="cell_phone_details" style="display: none;" class="dialog">
    <%= render :partial => "/includes/listing_data_for_phone", :locals => { :phone => customer.cell_phone } %>
  </div>

  <div id="reference_1_phone_details" style="display: none;" class="dialog">
    <%= render :partial => "/includes/listing_data_for_phone", :locals => { :phone => customer.reference_1_phone } %>
  </div>

  <div id="reference_2_phone_details" style="display: none;" class="dialog">
    <%= render :partial => "/includes/listing_data_for_phone", :locals => { :phone => customer.reference_2_phone } %>
  </div>
</div>

