  <% form_tag '', :id => 'delete_scheduled_payments_form' do %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Amount</th>
        <th>Date</th>
        <th>Account</th>
        <th>Ext.</th>
      </tr>
    </thead>
    <tbody>
      <% for sp in @loan.scheduled_payments %>
      <tr>
        <td><input type="checkbox" name="ids[]" value="<%= sp.id -%>"/></td>
        <td><%= number_to_currency(sp.amount) -%></td>
        <td><%= sp.draft_date.to_s(:mmddyyyy) -%></td>
        <td><%= sp.payment_account.account.description -%></td>
        <td><%= boolean_to_english(sp.extension) -%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
