<div id="summary_block">
<% content_for :head do %>
  <% if current_user.is_underwriter? %>
  <script type="text/javascript">

    
    $(document).ready(function () {

      /*
      $('#suspend-link').click(function() {
        display_state = $('#accept_reject_container').css('display');
        if (display_state == 'none') {
          $('#accept_paragraph').hide();
          $('#accept_reject_container').removeClass('attention').removeClass('success').addClass('error');
          $('#accept_reject_container').show();
        } else {
          $('#accept_paragraph').show();
          $('#accept_reject_container').removeClass('error').addClass('attention');
          $('#accept_reject_container').hide();
        }
      });
      */

      $('#accept_or_reject_accept').click(function() {
        $('#accept_reject_container').removeClass('attention').removeClass('error').addClass('success');
        $('#accept_reject_button').val('ACCEPT LOAN').show();
      });
      $('#accept_or_reject_reject').click(function() {
        $('#accept_reject_container').removeClass('attention').removeClass('success').addClass('error');
        $('#accept_reject_button').val('REJECT LOAN').show();
      });
      <% if loan.verified_personal %>
        $('#verified_personal_checkmark').html('&#8730; ');
      <% end %>
      <% if loan.verified_financial %>
        $('#verified_financial_checkmark').html('&#8730; ');
      <% end %>
      <% if loan.verified_employment_with_customer && loan.verified_employment_with_employer %>
        $('#verified_employment_checkmark').html('&#8730; ');
      <% end %>
      <% if loan.verified_tila %>
        $('#verified_tila_checkmark').html('&#8730; ');
      <% end %>

      
      <% if current_user.is_underwriter? && loan.ready_for_approval_or_rejection? %>
        //$('#suspend-container').hide();
        $('#accept_reject_container').show();
      <% end %>

      $('#preview_message_template').click(function() {
        message_template_id = $('#message_template_id').val();
        loan_id = $('#message_template_loan_id').val();
        $.get('/message_templates/preview/'+message_template_id,'loan_id='+loan_id,function(returned_html) {
          jQuery.facebox(returned_html);
        });
        return false;
      });

      $('#message_template_form').submit(function() {
        $.post('/message_templates/send_to_customer',$(this).serialize(),function(returned_data) {
          $('#message_send_result').html(returned_data);
          $('#message_template_sent').show();
        });
        return false;
      });
      
    });
  </script>
  <% end %>
<% end %>

<%= display_flash(flash) %>

<% if @loan.reminders.today.size > 0 %>
  <div class="notification attention png_bg">
    <a href="#" class="close"><img src="/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
    <div>This account has a reminder today.</div>
  </div>
<% end %>

<div style="width: 35%; float: left; text-align: left;">
  <ul class="show_details">
    <li class="<%= cycle('odd','even') %>">
      <label style="width: 140px;">SSN:</label>
      <%= loan.customer.ssn.using('###-##-####') %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label style="width: 140px;">Credit Limit:</label>
      <%= number_to_currency(loan.customer.credit_limit, :precision => 0) %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label style="width: 140px;">Next Payday:</label>
      <%= loan.customer.next_pay_date_1 %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label style="width: 140px;">Payoff Amount:</label>
      <span id="summary_tab_payoff_amount">
      <% if loan.principal_owed > 0 %>
        <%= number_to_currency(loan.payoff_amount, :precision => 2) %>
      <% else %>
        <% if ['pending_signature','underwriting'].include? loan.aasm_state %>
        <%= number_to_currency(loan.proposed_loan_payoff_amount, :precision => 2) %>
        <% else %>
          N/A
        <% end %>
      <% end %>
      </span>
    </li>
  </ul>
</div>
<div style="width: 65%; float: right; text-align: left;">
  <ul class="show_details">
    <li class="<%= cycle('odd','even') %>">
      <label style="width: 140px;">Home Phone:</label>
      <%= loan.customer.home_phone.using('###-###-####') unless loan.customer.home_phone.nil? %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label style="width: 140px;">Work Phone:</label>
      <%= loan.customer.work_phone.using('###-###-####') unless loan.customer.work_phone.nil? %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label style="width: 140px;">Employer Phone:</label>
      <%= loan.customer.employer_phone.using('###-###-####') unless loan.customer.employer_phone.nil? %>
    </li>
    <li class="<%= cycle('odd','even') %>">
      <label style="width: 140px;">Email:</label>
      <%= loan.customer.email %>
    </li>
  </ul>
</div>
<div class="clear"></div>

<% if ['underwriter','collections'].include? current_user.role %>
<h4 style="color:#666666;border-bottom:1px solid #dddddd">Send Message Template</h4>
<div style="margin:10px 0 20px">
  <% form_for :message_template, :html => { :id => 'message_template_form' } do |f| %>
    <%= f.hidden_field :loan_id, :value => loan.id %>
    <%= f.select(:id, MessageTemplate.find(:all).collect { |mt| [mt.name, mt.id]}) %>
    <button class="button" id="preview_message_template">Preview</button>
    <%= submit_tag 'Send', :class => 'button', :id => 'send_message_template' %>
  <% end %>
</div>
<div id="message_template_sent" class="notification success png_bg" style="display:none">
  <a href="#" class="close"><img src="/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
  <div id="message_send_result"></div>
</div>
<% end %>
<h4 style="color:#666666;border-bottom:1px solid #dddddd">History</h4>
  <div id="loans_history_table">
  <%= render :partial => 'loans/loans_history', :locals => { :customer => loan.customer } %>
  </div>
<!--
  <div id="suspend-container" style="padding:20px 0 0 10px;"><a href="#" style="color:#df8f8f;font-weight:bold" id="suspend-link">Suspend</a></div>
-->
  <div class="notification attention" id="accept_reject_container" style="background-image: none !important;margin-top:10px;display:none">
    <div style="padding: 5px 20px 0px 20px;">
    	<% form_for @loan, :url => complete_approval_process_loan_path(@loan) do |f| %>
      	<p id="accept_paragraph">
      	  <input type="radio" name="accept_or_reject" id="accept_or_reject_accept" value="accept" /> <strong>I approve this customer for a payday loan of <span id="summary_tab_approve_loan_amount"><%= number_to_currency(@loan.requested_loan_amount) %></span></strong>
      		<%#= f.text_field :approved_loan_amount, :value => @loan.requested_loan_amount, :class => "text-input tiny-input" %>
           <!--(FactorTrust recommends <%#= @factor_trust['ApprovedAmount'] %>)-->
      	</p>
      	<p>
      	  <input type="radio" name="accept_or_reject" id="accept_or_reject_reject" value="reject" /> <strong>I reject this customer for a payday loan due to&nbsp;&nbsp;</strong>
      		<%= f.select :reject_reason, Customer::REJECT_REASONS.sort.push("Other (see comments)"), :class => "text-input short-input", :include_blank => true %>
      	</p>
      	<p>
      	  <label for="comments">Comments</label>
      	  <%= text_area_tag :comments %>
      	</p>
      	<p>
      	  <strong>My password is&nbsp;&nbsp;</strong>
      	  <%= password_field_tag :password, "", :class => "text-input short-input" %>&nbsp;&nbsp;
          <input class="button" type="submit" id="accept_reject_button" value="Submit" onclick="return validate_loan_amt(loan_approved_loan_amount);" style="display: none;"  />
      	</p>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
  </div>
<script type="text/javascript">
  function validate_loan_amt()
  {
    if (document.getElementById("loan_approved_loan_amount").value >= 500)
    {
      alert("please enter loan amount less then $500");
      return false;
    }
    else if (document.getElementById("loan_approved_loan_amount").value <= 0)
    {
      alert("please enter loan amount more then Zero $");
      return false;
    }
      return true;
  }
</script>