<% content_for :head do %>
  <%= javascript("jquery-ui-1.7.2.custom.min.js") %>
  <%= javascript_include_tag 'jquery.inplace.pack','jquery.livequery' %>

  <script type="text/javascript">
    function selectChk(own,next){
      if(document.getElementById(own).checked==false){
        document.getElementById(own).checked==false
      }
      else{
        document.getElementById(own).checked==true
        document.getElementById(own).blur()
        document.getElementById(next).focus()
      }
    }

  </script>

  <% if ['underwriting'].include? loan.aasm_state %>
    <script type="text/javascript">

      // Globals
      var edit_amount_shown = false;
      var amount_value_before_edit = null;

      function KeyCheck(e)
      {
        var KeyID = (window.event) ? event.keyCode : e.keyCode;
        switch(KeyID) {
          case 27:
            if (edit_amount_shown) {
              $('#amount_span').html(amount_value_before_edit);
              edit_amount_shown = false;
            }
            break;
        }
      }


      $(document).ready(function() {
        $('#disclosed_finance_charge_amount').change(function() {
          checked = $(this).attr('checked');
          $.post("/loans/<%= loan.id %>/update_disclosure_status","d=finance_charge_amount&v="+checked,null,"script");
        });
        $('#disclosed_due_date').change(function() {
          checked = $(this).attr('checked');
          $.post("/loans/<%= loan.id %>/update_disclosure_status","d=due_date&v="+checked,null,"script");
        });
        $('#disclosed_apr').change(function() {
          checked = $(this).attr('checked');
          $.post("/loans/<%= loan.id %>/update_disclosure_status","d=apr&v="+checked,null,"script");
        });
        $('#disclosed_extend_12_weeks_max').change(function() {
          checked = $(this).attr('checked');
          $.post("/loans/<%= loan.id %>/update_disclosure_status","d=extend_12_weeks_max&v="+checked,null,"script");
        });
        $('#disclosed_partial_payments').change(function() {
          checked = $(this).attr('checked');
          $.post("/loans/<%= loan.id %>/update_disclosure_status","d=partial_payments&v="+checked,null,"script");
        });
        $('#disclosed_recission').change(function() {
          checked = $(this).attr('checked');
          $.post("/loans/<%= loan.id %>/update_disclosure_status","d=recission&v="+checked,null,"script");
        });
        $('#disclosed_must_request_extensions').change(function() {
          checked = $(this).attr('checked');
          $.post("/loans/<%= loan.id %>/update_disclosure_status","d=must_request_extensions&v="+checked,null,"script");
        });
        $('#disclosed_member_area').change(function() {
          checked = $(this).attr('checked');
          $.post("/loans/<%= loan.id %>/update_disclosure_status","d=member_area&v="+checked,null,"script");
        });
        
        $('#auto_extend_upon_funding').change(function() {
          checked = $(this).attr('checked');
          $.post("/loans/<%= loan.id %>/update_disclosure_status","d=auto_extend_upon_funding&v="+checked,function(){
            if(checked == true)
            {
              $('#normal_due_date').hide();
              $('#interest_only_on_due_date').show();
              $('#due_date_id').show();
            }
            else
            {
              $('#normal_due_date').show();
              $('#interest_only_on_due_date').hide();
              $('#due_date_id').hide();
            }
          });
          return false;
        });


    <% if @loan.all_tila_disclosures_made? %>
        $('#disclosed_finance_charge_amount').attr('disabled',true);
        $('#disclosed_due_date').attr('disabled',true);
        $('#disclosed_apr').attr('disabled',true);
        $('#disclosed_extend_12_weeks_max').attr('disabled',true);
        $('#disclosed_partial_payments').attr('disabled',true);
        $('#disclosed_recission').attr('disabled',true);
        $('#disclosed_must_request_extensions').attr('disabled',true);
        $('#disclosed_member_area').attr('disabled',true);

        $('#disclosed_finance_charge_amount').fadeTo('slow',0.33);
        $('#disclosed_due_date').fadeTo('slow',0.33);
        $('#disclosed_apr').fadeTo('slow',0.33);
        $('#disclosed_extend_12_weeks_max').fadeTo('slow',0.33);
        $('#disclosed_partial_payments').fadeTo('slow',0.33);
        $('#disclosed_recission').fadeTo('slow',0.33);
        $('#disclosed_must_request_extensions').fadeTo('slow',0.33);
        $('#disclosed_member_area').fadeTo('slow',0.33);

        $('#verify_tila_status').show();
    <% end %>

      //
      // Edit Loan Amount
      //


      var loan_id = <%= @loan.id -%>;
      $('#amount_span').click(function() {
        if (!edit_amount_shown) {
          amount = $('#amount_span').html().substr(1,10);
          amount_value_before_edit = $('#amount_span').html();
          $.get('/loans/edit_tila_loan_amount_form/'+loan_id,'amount='+amount,function(html) {
            $('#amount_span').html(html);
            $('#amount_field').focus().select();
          });
          edit_amount_shown = true;
        }
        return false;
      });

      $('#edit_loan_amount_form').livequery('submit',function(event) {
        id = $('#id').val();
        amount = $('#amount_field').val();
        $.post('/loans/set_signature_page_loan_amount/'+id,'amount='+amount,function(amount_list) {
          amounts = amount_list.split(',')
          principal = amounts[0]
          interest  = amounts[1]
          total     = amounts[2]
          $('#amount_span').html(principal);
          $('#interest_span').html(interest);
          $('#total_span').html(total);
          edit_amount_shown = false;

          // Update the Loans History table on the Summary tab
          $.get('/loans/loans_history_table/'+id,null,function(history_table) {
            $('#loans_history_table').html(history_table);
          });

          // Update Payoff and approve amount on summary tab
          $('#summary_tab_payoff_amount').html(total);
          $('#summary_tab_approve_loan_amount').html(principal);
        });
        return false;
      });

       $('#tila_remark').change(function(){
          remark_value = $(this).val();
          $.get("/loan/<%= loan.id %>/loan_remark","remark_value="+remark_value,function(data){

          });
         });

      document.onkeyup = KeyCheck;

    });
    </script>
  <% end %>
<% end %>
 
<div id="verify_tila_button">
 <%if current_user.role == "underwriter" %>
  <div id="tilla_remark">
  <%#= render :partial => "remark_dropdown"   %>
    Remark : <%= select("tila","remark",Loan::REMARKS_OPTIONS) %>
 </div>
 <% end %>
  <div style="float: left; padding-bottom: 10px; margin-top: 18px;">
    <%= link_to "View Truth In Lending Agreement (popup window)", tila_loan_path(loan), :target => "_blank" %>
  </div>
 
  <% if current_user.is_underwriter? && loan.pending_approval? %>
    <div style="float: right; padding-bottom: 10px; margin-top: -10px;">
      <a href="#" class="default-tab" rel="history"><div id="verify_tila_status" style="display:none"></div></a>
    </div>
    <script type="text/javascript">
      $('#verify_tila_status').iphoneSwitch('<%= loan.verified_tila ? "on" : "off" %>',
      function() {
        $.post("/loans/<%= loan.id %>/update_validation_status","t=tila&v=1",null,"script");
        $('#verified_tila_checkmark').html('&#8730; ');

        $('#tila_block').hide();
        $('#verify_tila_button').hide();
        $('#summary').show();
        $('#summary_block').show();


        document.getElementById('tab_summary').innerHTML="<a href='#' class='content-box-tabs default-tab current' id='summary_link' onclick='"+ 'ShowHideTab("summary")'+"'" +" rel='history'><span id='verified_summary_checkmark'></span>Summary</a>";
        document.getElementById('tab_tila').innerHTML="<a href='#' id='tila_link' onclick='"+ 'ShowHideTab("tila")'+"'" +" rel='history'><span id='verified_tila_checkmark'>&#8730;&nbsp;</span>TILA</a>";
      },
      function() {
        $.post("/loans/<%= loan.id %>/update_validation_status","t=tila&v=0",null,"script");
        $('#verified_tila_checkmark').html('');
      },
      { switch_on_container_path: '/images/iphone_switch/iphone_switch_container_off.png' }
    );

    
    </script>
  <% end %>
  <div class="clear"></div>
</div>
<div id="tila_block">

 

  <table>
    <tbody style="border-bottom:none">
      <tr>
    <div id="loan_amount_tila">
      <td style="font-weight:bold">
        Loan Amt: <span id="amount_span"><%= number_to_currency(@loan.signature_page_loan_amount) -%></span>
      </td>
      <% if ['pending_signature','underwriting'].include? loan.aasm_state %>
        <td id="signature_page_finance_charge" style="font-weight:bold">Fin. Charge: <span id="interest_span"><%= number_to_currency(loan.signature_page_finance_charge, :precision => 2) -%></span></td>
        <td id="initial_total_of_payments" style="font-weight:bold">Payoff Amt: <span id="total_span"><%= number_to_currency(loan.initial_total_of_payments, :precision => 2) -%></span></td>
      <% else %>
        <td style="font-weight:bold">Cur. Balance: <span id="interest_span"><%= number_to_currency(loan.principal_owed, :precision => 2) -%></span></td>
        <td style="font-weight:bold">
          Payoff Amt:
          <span id="total_span">
            <% if loan.is_funded? %>
              <%= number_to_currency(loan.payoff_amount, :precision => 2) -%>
            <% else %>
              <% if ['pending_signature','underwriting'].include? loan.aasm_state %>
                <%= number_to_currency(loan.proposed_loan_payoff_amount, :precision => 2) -%>
              <% else %>
                N/A
              <% end %>
            <% end %>
          </span>
        </td>
      <% end %>
      <td style="font-weight:bold">APR: <%= number_to_percentage(loan.apr, :precision => 2) -%></td>
    </div>
    </tr>
    </tbody>
  </table>

  <% if ['pending_signature','underwriting'].include? loan.aasm_state %>
    <% if current_user.is_underwriter? %>
    <div style="text-align:center;margin-top:10px;padding:5px 0 5px;background:#eeeeee">
      <span id="normal_due_date">Due Date: <%= loan.due_date.to_s(:m_d_y) -%></span>
      <span id="interest_only_on_due_date" style="display:none">Payment of <%= number_to_currency(@loan.projected_interest_on_due_date_for_proposed_loan) -%> (Interest Only) Due <%= @loan.due_date.to_s(:m_d_y) -%></span>
      <span> &nbsp;&nbsp;</span>
      <span><%= check_box_tag :auto_extend_upon_funding, {:disabled => false} -%></span>
      <span>Request Extension</span>
    </div>
    <div id="due_date_id" style="display :none;">
      <p style="text-align:center;margin-top:10px;padding:5px 0 5px;background:#eeeeee">
        Final Payment of <%= number_to_currency(@loan.projected_final_payment_on_date_for_proposed_loan(@loan.customer.next_pay_date_2)) -%> (Principal &amp; Interest) Due <%= @loan.customer.next_pay_date_2.to_s(:m_d_y) -%>
      </p>
    </div>
    <div id="due_date_id" style="font-weight:bold;margin-top:10px">Check when each disclosure is made to this borrower:</div>
    <table style="margin-top:10px">
      <tbody style="border-bottom:none">
        <tr>
          <td><%= check_box_tag :disclosed_finance_charge_amount,1,!loan.disclosed_finance_charge_amount_at.nil?,:onchange=>"selectChk('disclosed_finance_charge_amount','disclosed_due_date')" -%></td>
          <td>Finance Charge Amount</td>
        </tr>
        <tr>
          <td><%= check_box_tag :disclosed_due_date,1,!loan.disclosed_due_date_at.nil?,:onchange=>"selectChk('disclosed_due_date','disclosed_apr')" -%></td>
          <td>Due Date</td>
        </tr>
        <tr>
          <td><%= check_box_tag :disclosed_apr,1,!loan.disclosed_apr_at.nil?,:onchange=>"selectChk('disclosed_apr','disclosed_extend_12_weeks_max')" -%></td>
          <td>APR</td>
        </tr>
        <tr>
          <td><%= check_box_tag :disclosed_extend_12_weeks_max,1,!loan.disclosed_extend_12_weeks_max_at.nil?,:onchange=>"selectChk('disclosed_extend_12_weeks_max','disclosed_partial_payments')" -%></td>
          <td>Must not extend beyond 12 weeks</td>
        </tr>
        <tr>
          <td><%= check_box_tag :disclosed_partial_payments,1,!loan.disclosed_partial_payments_at.nil?,:onchange=>"selectChk('disclosed_partial_payments','disclosed_recission')" -%></td>
          <td>May make partial payments of principal without incurring additional fees</td>
        </tr>
        <tr>
          <td><%= check_box_tag :disclosed_recission,1,!loan.disclosed_recission_at.nil?,:onchange=>"selectChk('disclosed_recission','disclosed_must_request_extensions')" -%></td>
          <td>May rescind the loan by notifying FloBridge before 5 PM MST the next business day</td>
        </tr>
        <tr>
          <td><%= check_box_tag :disclosed_must_request_extensions,1,!loan.disclosed_must_request_extensions_at.nil?,:onchange=>"selectChk('disclosed_must_request_extensions','disclosed_member_area')" -%></td>
          <td>Must request each extension and pay interest due to extend</td>
        </tr>
        <tr>
          <td><%= check_box_tag :disclosed_member_area,1,!loan.disclosed_member_area_at.nil?,:onclick=>"javascript:this.blur();"-%></td>
          <td>May log in to the member area at any time to make payments, view loan status, TILA, and apply for a new loan</td>
        </tr>
      </tbody>
    </table>
  <% else %>
      <% if current_user.is_underwriter? %>
      <div id="due_date_id" style="font-weight:bold;margin-top:10px;">Disclosures made to borrower:</div>
      <table id="Disclosures" style="margin-top:10px;">
        <tbody style="border-bottom:none">
          <tr>
            <td nowrap><%= loan.disclosed_finance_charge_amount_at.to_s(:day_date_time) unless loan.disclosed_finance_charge_amount_at.nil? -%></td>
            <td>Finance Charge Amount</td>
          </tr>
          <tr>
            <td nowrap><%= loan.disclosed_due_date_at.to_s(:day_date_time) unless loan.disclosed_due_date_at.nil? -%></td>
            <td>Due Date</td>
          </tr>
          <tr>
            <td nowrap><%= loan.disclosed_apr_at.to_s(:day_date_time) unless loan.disclosed_apr_at.nil? -%></td>
            <td>APR</td>
          </tr>
          <tr>
            <td nowrap><%= loan.disclosed_extend_12_weeks_max_at.to_s(:day_date_time) unless loan.disclosed_extend_12_weeks_max_at.nil? -%></td>
            <td>Must not extend beyond 12 weeks</td>
          </tr>
          <tr>
            <td nowrap><%= loan.disclosed_partial_payments_at.to_s(:day_date_time) unless loan.disclosed_partial_payments_at.nil? -%></td>
            <td>May make partial payments of principal without incurring additional fees</td>
          </tr>
          <tr>
            <td nowrap><%= loan.disclosed_recission_at.to_s(:day_date_time) unless loan.disclosed_recission_at.nil? -%></td>
            <td>May rescind the loan by notifying FloBridge before 5 PM MST the next business day</td>
          </tr>
          <tr>
            <td nowrap><%= loan.disclosed_must_request_extensions_at.to_s(:day_date_time) unless loan.disclosed_must_request_extensions_at.nil? -%></td>
            <td>Must request each extension and pay interest due to extend</td>
          </tr>
          <tr>
            <td nowrap><%= loan.disclosed_member_area_at.to_s(:day_date_time) unless loan.disclosed_member_area_at.nil? -%></td>
            <td>May log in to the member area at any time to make payments, view loan status, TILA, and apply for a new loan</td>
          </tr>
        </tbody>
      </table>
      <% end %>
    <% end %>
  <% end %>
</div>

