
<script type="text/javascript">
</script>

<fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->

  <div style="height:25px;"></div>

  <div id="country_name">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>

  <div style="height:15px;"></div>

  <div id="country_code">
    <%= f.label :code, "Country Code" %>
    <%= f.text_field :code,:maxlength=>2 %>
  </div>

  <div style="height:15px;"></div>


  <div id="country_max_apr">
    <%= f.label :max_apr, "Max apr" %>
    <%= f.text_field :max_apr %>
  </div>

   <div style="height:15px;"></div>

  <div id="max_loan_amount">
    <%= f.label :max_loan_amount, "Max loan ammount" %>
    <%= f.text_field :max_loan_amount %>
  </div>

  <div style="height:15px;"></div>

  <div id="min_loan_days">
    <%= f.label :min_loan_days, "Min loan days" %>
    <%= f.text_field :min_loan_days %>
  </div>

   <div style="height:15px;"></div>

  <div id="max_loan_days">
    <%= f.label :max_loan_days, "Max loan days" %>
    <%= f.text_field :max_loan_days %>
  </div>

  <div style="height:15px;"></div>

  <div id="max_extensions">
    <%= f.label :max_extensions, "Max extensions" %>
    <%= f.text_field :max_extensions %>
  </div>



  <div style="height:15px;"></div>

  <div>
    <input class="button" type="submit" value="Save" />
		or <%= link_to "Cancel", countries_path %>
  </div>
</fieldset>

<div class="clear"></div><!-- End .clear -->