<p>
  <strong>Instructions:</strong> Use reverse lookup tools to verify home and work phone numbers. Available tools are <%= link_to "411.com", "http://www.411.com", :target => "_blank" %>, <%= link_to "Yellowpages.com", "http://www.Yellowpages.com", :target => "_blank" %>
</p>

<div style="padding: 5px 20px;">
  <h4><span class="gray">Home Phone:</span> <%= number_to_phone(customer.home_phone) %></h4>  
  <div style="border: 1px solid #d0d0d0; padding: 10px; margin-bottom: 20px;">
    <h5>Data pulled from 411.com</h5>
    <table width="100%">
    	<thead>
      <tr>
        <th class="small" nowrap>Owner</th>
        <th class="small" nowrap>Title</th>
        <th class="small" nowrap>Company</th>
        <th class="small" nowrap>Address</th>
        <th class="small" nowrap>City</th>
        <th class="small" nowrap>State</th>
        <th class="small" nowrap>Zip</th>
        <th class="small" nowrap>Line Type</th>
        <th class="small" nowrap>Provider</th>
      </tr>
      </thead>
      <tbody>
      <% customer.customer_phone_listings.find_all_by_phone(customer.home_phone).each do |listing| %>
      <tr>
        <td style="background-color: #F3F3F3;"><%= h listing.owner %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.title %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.company %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.address %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.city %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.state %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.zip %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.line_type %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.provider %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  
  <h4><span class="gray">Work Phone:</span> <%= number_to_phone(customer.employer_phone) %></h4>
  <div style="border: 1px solid #d0d0d0; padding: 10px; margin-bottom: 20px;">
    <h5>Data pulled from 411.com</h5>
    <table width="100%">
    	<thead>
      <tr>
        <th class="small" nowrap>Owner</th>
        <th class="small" nowrap>Title</th>
        <th class="small" nowrap>Company</th>
        <th class="small" nowrap>Address</th>
        <th class="small" nowrap>City</th>
        <th class="small" nowrap>State</th>
        <th class="small" nowrap>Zip</th>
        <th class="small" nowrap>Line Type</th>
        <th class="small" nowrap>Provider</th>
      </tr>
      </thead>
      <tbody>
      <% customer.customer_phone_listings.find_all_by_phone(customer.employer_phone).each do |listing| %>
      <tr>
        <td style="background-color: #F3F3F3;"><%= h listing.owner %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.title %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.company %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.address %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.city %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.state %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.zip %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.line_type %></td>
        <td style="background-color: #F3F3F3;"><%= h listing.provider %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <% form_tag :action => "add_note_to_verification" do %>
  
  <% end %>
</div>