<% content_for :head do %>
<%= javascript_include_tag :fckeditor %>
<% end %>

<%= error_messages_for :message_category %>
<fieldset class="column-left">
  <p>
    <%= f.label :name, "Message Category Name" %>
  	<%= f.text_field :name, :class => "text-input medium-input" %>
  </p>
  <p>
    <%= f.label :footer, "Email Footer" %>
  	<%= fckeditor_textarea :message_category, :footer,:toolbarSet => 'Basic', :width => '100%', :height => '300px', :style => "float:left;" %>
  </p>
  <p>
  	<input class="button" type="submit" value="Save Changes"/>
  	or <%= link_to "Cancel", message_categories_path %>
  </p>
</fieldset>
<div class="clear"></div><!-- End .clear -->
