<script type="text/javascript">
  function ShowMenu(){
  $('#report_menu').slideToggle();
  }
  
</script>

<% title(current_user.full_name) %>

<div id="report_duration" style="height: 50px;">
  <div style="color:green;font-size:18px;font-weight:bold;">
    <%= current_user.role.upcase -%>
  </div>
  <div style="float:right">
    <input type="text" size="25" value="MAR 1, 2010 - APR 1, 2010"onclick='ShowMenu()' />
  </div>
</div>

<div id="report_menu" style="border: 2px solid #DDDDDD; float: right; width: 100px; height: 180px; z-index: 100; border-color: #DDDDDD; background: transparent url(images/bg-radial-gradient.gif) repeat top right; display: none; position: absolute; top: 118px; right: 30px;">
    <div class="content-box-content" style="float:right; padding: 5px;">
      <div style="border-bottom: 1px solid #DDDDDD; padding-bottom: 5px; ">
      <p align="right" style="padding: 0px;"><%= "Today" %></p>
      <p align="right" style="padding: 0px;"><%= "Yesterday" %></p>
      </div>
      <div style="border-bottom: 1px solid #DDDDDD; padding-bottom: 5px; ">
      <p align="right" style="padding: 0px;"><%= "Last Week" %></p>
      <p align="right" style="padding: 0px;"><%= "Last 7 Days" %></p>
      </div>
      <div style="border-bottom: 1px solid #DDDDDD; padding-bottom: 5px; ">
      <p align="right" style="padding: 0px;"><%= "Last Month" %></p>
      <p align="right" style="padding: 0px;"><%= "Last 30 Days" %></p>
      </div>
      <p align="right" style="padding: 0px;"><%= "Custom" %></p>
    </div>
</div>

<div class="content-box" style="min-width: 650px;">
  <div class="content-box-header" style="text-align:center;">
    <ul class="content-box-tabs" style="float:none;"">
	  <li style="width:300px;">&nbsp;</li>
      <li ><a  href="#performance" class="default-tab" rel="history">Performance</a></li>
      <li ><a  href="#incentives" rel="history">Incentives</a></li>
    </ul>
  <div class="clear"></div>
</div>

<div style="min-width: 650px;">
  <div class="content-box-content">
    <table border="0" >
      <thead>
        <tr>
          <th colspan="10" style="font-size: 18px;">
            Department
          </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>Name</th>
          <th>&nbsp;</th>
          <th >Cash</th>
          <th >Tot.</th>
          <th >Paid</th>
          <th >Sched</th>
          <th >P. Plan</th>
          <th >Adj.</th>
          <th >Garn.</th>
          <th >W.O.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>All</th>
          <th>&nbsp;</th>
          <th >$1,500</th>
          <th >100</th>
          <th >35</th>
          <th >24</th>
          <th >12</th>
          <th >8</th>
          <th >65</th>
          <th >15</th>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th colspan="10" style="font-size: 18px;">
            My Team
          </th>
        </tr>
      </thead>
      <thead>
        <tr>
           <th >Name</th>
          <th >&nbsp;</th>
          <th >Cash</th>
          <th >Tot.</th>
          <th ">Paid</th>
          <th>Sched</th>
          <th>P. Plan</th>
          <th>Adj.</th>
          <th >Garn.</th>
          <th >W.O.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>John Stockton</th>
          <th><%= image_tag("/images/icons/up.png", :border => 0) %></th>
          <th >$1,800</th>
          <th >120</th>
          <th >50</th>
          <th >35</th>
          <th >20</th>
          <th >4</th>
          <th >70</th>
          <th >15</th>
        </tr>
        <tr>
          <th>Karl Malone</th>
          <th><%= image_tag("/images/icons/down.png", :border => 0) %></th>
          <th >$1,250</th>
          <th >120</th>
          <th >50</th>
          <th >35</th>
          <th >20</th>
          <th >4</th>
          <th >70</th>
          <th >15</th>
        </tr>
        <tr>
          <th>Carlos Boozer </th>
          <th><%= image_tag("/images/icons/up.png", :border => 0) %></th>
         <th >$1,250</th>
          <th >120</th>
          <th >50</th>
          <th >35</th>
          <th >20</th>
          <th >4</th>
          <th >70</th>
          <th >15</th>
        </tr>
        <tr>
          <th>Frank Layton</th>
          <th><%= image_tag("/images/icons/up.png", :border => 0) %></th>
          <th >$1,250</th>
          <th >120</th>
          <th >50</th>
          <th >35</th>
          <th >20</th>
          <th >4</th>
          <th >70</th>
          <th >15</th>
        </tr>
        <tr>
          <th>Rod Hundley</th>
          <th><%= image_tag("/images/icons/down.png", :border => 0) %></th>
          <th >$1,250</th>
          <th >120</th>
          <th >50</th>
          <th >35</th>
          <th >20</th>
          <th >4</th>
          <th >70</th>
          <th >15</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>