<% title(current_user.full_name) %>

<div id="report_duration" style="height: 50px;">
  <div style="color:green;font-size:18px;font-weight:bold;">
    <%= current_user.role.upcase -%>
  </div>
</div>

<div class="content-box" style="min-width: 650px;">
  <div class="content-box-header" style="text-align:center;">
    <ul class="content-box-tabs" style="float:none;"">
	  <li style="width:300px;">&nbsp;</li>
      <li ><a  href="#performance" class="default-tab" rel="history">Performance</a></li>
      <li ><a  href="#incentives" rel="history">Incentives</a></li>
    </ul>
  <div class="clear"></div>
</div>

<div style="min-width: 650px;">
  <div class="content-box-content">
    <table border="0" >
      <thead>
        <tr>
          <th colspan="10" style="font-size: 18px;">
            Department
          </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>Name</th>
          <th>&nbsp;</th>
          <th >Tot.</th>
          <th >Sent</th>
          <th >Approved</th>
          <th >Court Order</th>
          <th >Rejected</th>
          <th >Cash</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>All</th>
          <th>&nbsp;</th>
          <th >425</th>
          <th >375</th>
          <th >137</th>
          <th >154</th>
          <th >98</th>
          <th >$7,430</th>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th colspan="10" style="font-size: 18px;">
            My Team
          </th>
        </tr>
      </thead>
      <thead>
        <tr>
           <th>Name</th>
          <th>&nbsp;</th>
          <th >Tot.</th>
          <th >Sent</th>
          <th >Approved</th>
          <th >Court Order</th>
          <th >Rejected</th>
          <th >Cash</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Tupac Shakur</th>
          <th><%= image_tag("/images/icons/up.png", :border => 0) %></th>
          <th >534</th>
          <th >400</th>
          <th >315</th>
          <th >75</th>
		  <th >98</th>
          <th >$12,456</th>
        </tr>
        <tr>
          <th>Markie Mark</th>
          <th><%= image_tag("/images/icons/down.png", :border => 0) %></th>
          <th >397</th>
          <th >230</th>
          <th >146</th>
          <th >100</th>
          <th >128</th>
          <th >$5,456</th>
        </tr>
        <tr>
          <th>Flavor Flav</th>
          <th><%= image_tag("/images/icons/up.png", :border => 0) %></th>
         <th >452</th>
          <th >100</th>
          <th >99</th>
          <th >1</th>
          <th >0</th>
          <th >$10,345</th>
        </tr>
        <tr>
          <th>Oscar Grouch</th>
          <th><%= image_tag("/images/icons/up.png", :border => 0) %></th>
         <th >452</th>
          <th >100</th>
          <th >99</th>
          <th >109</th>
          <th >80</th>
          <th >$9,345</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>