<%  title('My Reminders') %>

<%= display_flash(flash) %>
<div class="content-box"><!-- Start Content Box -->
<%if current_user.role == 'administrator' %>
	<%= render :partial => 'reminders_filter',:locals=>{:filters=>@filters} %>
<% end %>
  <div class="content-box-content">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Customer</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% for reminder in @reminders %>
        <tr>
          <td><%= reminder.remind_on.to_s(:sm_d_y) -%></td>
          <td><%= link_to(reminder.loan.customer.full_name, loan_path(reminder.loan.id)) -%></td>
          <td><%= reminder.comment -%> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate(@reminders) %>
  </div>

</div>