<% title "Locations" %>
<% subtitle("List of Office Locations")%>

<div class="content-box"><!-- Start Content Box -->

	<div class="content-box-header">

		<ul class="content-box-tabs">
			<li><a href="#tab1" class="<%= default_tab_class('tab1') -%>" rel="history">List</a></li> <!-- href must be unique and match the id of target div -->
			<li><a href="#tab2" class="<%= default_tab_class('tab2') -%>" rel="history">Create</a></li>
		</ul>

		<div class="clear"></div>

	</div> <!-- End .content-box-header -->

  <div class="content-box-content">

    <%= display_flash(flash) %>

  	<div class="tab-content <%= default_tab_class('tab1') -%>" id="tab1">

	    <table>

    		<thead>
    			<tr>
    			   <th>Name</th>
    			   <th>IP Address</th>
    			   <th>&nbsp;</th>
    			</tr>

    		</thead>

    		<tfoot>
    			<tr>
    				<td colspan="5">
    					<%= will_paginate @locations %>
    					<div class="clear"></div>
    				</td>
    			</tr>
    		</tfoot>

    		<tbody>
                        <% @locations.each do |location| %>
    				<tr>
    					<td><%= location.name %></td>
    					<td><%= location.ip_address %></td>
    					<td nowrap class="icons">
    					  <%= link_to image_tag("icons/pencil.png", :title => "Edit", :alt => "Edit"), edit_location_path(location) %>
    					  <%= link_to image_tag("icons/cross.png", :title => "Delete", :alt => "Delete"), location_path(location), :method => :delete, :confirm => "Are you sure?" %>
    					</td>
    				</tr>
    			<% end %>
    		</tbody>

    	</table>

    </div>

    <div class="tab-content <%= default_tab_class('tab2') -%>" id="tab2">
      <% form_for :location do |f| %>
        <%= render :partial => "form", :locals => { :f => f } %>
      <% end %>
    </div>

  </div>

</div>