<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>FloBridge – <%= yield(:title).blank? ? "Cash flow 'til payday - Direct online cash advance payday loans" : yield(:title) %></title>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
    <%= stylesheet_link_tag 'flobridge', 'flobridge_form', 'flobridge_custom' %>
    <%= javascript_include_tag 'facebox' %>
    <%= yield(:head) %>
  </head>
  <body>

    <div id="header">
      <div class="contents">
        <div id="logo"><%#= link_to image_tag("flobridge_logo.png", :alt => "FloBridge", :border => 0), root_path %></div>
        <% unless @hide_pre_form %>
          <div id="signup_box">
            <div id="pre_form_container">
              <%= render :partial => "/includes/pre_form" %>
            </div>
          </div>
        <% else %>
          <div style="text-align:right;padding:150px 30px;">
            <%= link_to('Logout', customer_logout_path, { :style => 'color:#aaa;font-weight:bold;text-decoration:none' }) %>
          </div>
        <% end %>
        <div class="clear"></div>
      </div>
    </div>

    <div id="navigation">
      <div class="contents">
        <ul>
          <li><%= link_to "Home", member_area_home_path %></li>
          <li><%= link_to "Payments", member_area_payments_path %></li>
          <li><%= link_to "Extensions", member_area_extensions_path %></li>
          <li><%= link_to "New Loan", member_area_new_loan_path %></li>
          <li><%= link_to "Agreement", member_area_agreement_path %></li>
          <li><%= link_to "History", member_area_history_path %></li>
          <li><%= link_to "Contact", member_area_contact_path -%></li>
        </ul>
      </div>
    </div>


    <div id="container">
      <div class="contents">

        <%- flash.each do |name, msg| -%>
          <div style="padding: 10px;">
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <%- end -%>

        <div class="clear"></div>
        <%= yield %>

        <!--
        <div id="bottom_nav">
          <%#= link_to "Home", root_path %> |
          <%#= link_to "Application", new_lead_path %> |
          <%#= link_to "How it Works", how_it_works_path %> |
          <%#= link_to "Rates &amp; Terms", rate_and_terms_path %> |
          <%#= link_to "FAQ", faq_path %> |
          <%#= link_to "Privacy Policy &amp; Opt-Out", privacy_path %> |
          <%#= link_to "Questions or Complaints", contact_path %> |
          <%#= link_to "Registration", state_reg_path %>
        </div>
        -->

        <div id="copyright">
          Copyright &copy;<%= Date.today.year %>, FloBridge Group. All Rights Reserved.
        </div>

      </div>
    </div>

    <div id="footer">
      <div class="contents">
        <%#= spacer %>
        <%= yield(:footnote) %>
      </div>
    </div>

    <% if RAILS_ENV == "production" %>
      <%#= render :partial => "/includes/google_analytics" %>
    <% end %>

  </body>
</html>
