<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Payday Loan Tracker | Sign In</title>
		
		<%= stylesheet_link_tag "reset", "style", "invalid", :media => "screen" %>
		<!--[if lte IE 7]>
		  <%= stylesheet_link_tag "ie", :media => "screen" %>
		<![endif]-->
		<%= javascript_include_tag "jquery-1.3.2.min", "simpla.jquery.configuration", "facebox", "jquery.wysiwyg" %>
		<!--[if IE 6]>
		  <%= javascript_include_tag "DD_belatedPNG_0.0.7a" %>
			<script type="text/javascript">
				DD_belatedPNG.fix('.png_bg, img, li');
			</script>
		<![endif]-->
	</head>
  
	<body id="login">
		
		<div id="login-wrapper" class="png_bg">
			<div id="login-top" style="padding-top:100px">
			  <%#= image_tag "flobridge_logo_plt.png", :border => 0, :alt => "Payday Loan Tracker" %>
			</div>
			
			<div id="login-content">
				
				<%= yield %>
				
			</div>
		</div>
  </body>
</html>
